<!--  
!
!    Criei esse arquivo para usar com spring remoting, nao usei o que ja existia porque para carregar
! ficava muito lento.
! 
! @author jadson
! @since 27/02/2009
  @Deprecated  criando dimanicamente para suportar a mudança de url.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
       		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
   
   
   	<!--
      ! Carregando as propriedades.
      ! 
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>/app/sigaa.ear/sigaa.war/WEB-INF/applicationContextComunicacaoRemota.properties</value>
		</property>
	</bean> -->
       		
    
    <!--      Configurando o bean de comunicao remota                                                                 -->
	<!--      o SIGAA vai chamar um busca de notas fiscais no SIPAC                                                   -->            
    <!--      Como vai usar o HttpInvoker, a URL é caminho para um servlet que vai ser declarado do web.xml do SIGAA   -->
        
	<bean name="comprasControllerInvoker" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
	
		<!-- NA MAQUINA LOCAL 
		<property name="serviceUrl" value="http://localhost:8080/sipac/remoting/HttpComprasController"/> 
		-->  
    	<!-- EM TESTES   -->
    	<!--  <property name="serviceUrl" value="http://testes.info.ufrn.br/sipac/remoting/HttpComprasController"/> --> 
          
         
        <!--   EM PRODUCAO
         -->
        <property name="serviceUrl" value="http://www.sipac.ufrn.br/sipac/remoting/HttpComprasController"/> 
	    <property name="serviceInterface" value="br.ufrn.comum.remoto.biblioteca.ComprasController"/>
	    
	</bean>  
       		
</beans>