<?xml version="1.0" encoding="UTF-8"?>
<!--
	Arquivo de configuração da aplicação web
-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>SIGAA</display-name>

	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

    <listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/conf/faces-config-monitoria.xml,/WEB-INF/conf/faces-config-admin.xml,
		/WEB-INF/conf/faces-config-lato.xml,/WEB-INF/conf/faces-config-prodocente.xml,
		/WEB-INF/conf/faces-config-portais.xml,/WEB-INF/conf/faces-config-extensao.xml,
		/WEB-INF/conf/faces-config-arq.xml, /WEB-INF/conf/faces-config-tecnico.xml,
		/WEB-INF/conf/faces-config-infantil.xml,/WEB-INF/conf/faces-config-graduacao.xml,
		/WEB-INF/conf/faces-config-stricto.xml, /WEB-INF/conf/faces-config-ead.xml,
		/WEB-INF/conf/faces-config-ensino.xml,/WEB-INF/conf/faces-config-pesquisa.xml,
		/WEB-INF/conf/faces-config-cpdi.xml,/WEB-INF/conf/faces-config-nee.xml, 
		/WEB-INF/conf/faces-config-ouvidoria.xml
		</param-value>
	</context-param>

	<context-param>
    <description>State saving method: "client" or "server" (= default)
            See JSF Specification 2.5.3</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
	<!--  Servlet do JSF  -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

    <servlet>
    	<servlet-name>FeedbackProcessamentoServlet</servlet-name>
    	<servlet-class>
    		br.ufrn.sigaa.ensino.graduacao.processamento.controle.FeedbackProcessamentoServlet
    	</servlet-class>
    </servlet>

    <servlet-mapping>
    	<servlet-name>FeedbackProcessamentoServlet</servlet-name>
    	<url-pattern>/feedbackProcessamento</url-pattern>
    </servlet-mapping>

	
	<servlet>
	    <servlet-name>discenteFundacaoServiceExporter</servlet-name>   <!--  nome declarado do arquivo remote-services.xml   -->
	    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>discenteFundacaoServiceExporter</servlet-name>
	    <url-pattern>/remoting/discenteFundacaoServiceExporter</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>cursoFundacaoServiceExporter</servlet-name>   <!--  nome declarado do arquivo remote-services.xml   -->
	    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>cursoFundacaoServiceExporter</servlet-name>
	    <url-pattern>/remoting/cursoFundacaoServiceExporter</url-pattern>
	</servlet-mapping>

	<!--  Usado pelo JFreChart para mostrar imagens de gráficos nas JSPs. -->
	<servlet> 
		<servlet-name>DisplayChart</servlet-name> 
		<servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>DisplayChart</servlet-name> 
		<url-pattern>/servlet/DisplayChart</url-pattern> 
	</servlet-mapping>

    <!-- SAE -->
	    <servlet>
	    	<servlet-name>ConsultarBolsaAuxilioServlet</servlet-name>
	    	<servlet-class>
	    		br.ufrn.sigaa.assistencia.remoto.ConsultarBolsaAuxilioServlet
	    	</servlet-class>
	    </servlet>
	    <servlet-mapping>
	    	<servlet-name>ConsultarBolsaAuxilioServlet</servlet-name>
	    	<url-pattern>/consultarBolsaAuxilio</url-pattern>
	    </servlet-mapping>
    
   	<!--  R.U. -->
	
	<servlet>
		<servlet-name>VerFotoIdentificacaoRu</servlet-name>
		<servlet-class>br.ufrn.sigaa.assistencia.remoto.VerFotoIdentificacaoRu</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>VerFotoIdentificacaoRu</servlet-name>
		<url-pattern>/verFotoIdentificacaoRu</url-pattern>
	</servlet-mapping>
	
    <!-- R.U -->
    
    <servlet>
    	<servlet-name>RelatorioProcessamentoServlet</servlet-name>
    	<servlet-class>br.ufrn.sigaa.processamento.jsf.BuscaRelatorioProcessamentoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    	<servlet-name>RelatorioProcessamentoServlet</servlet-name>
    	<url-pattern>/relatorioProcessamento</url-pattern>
    </servlet-mapping>
    
    <!-- Interface Twitter -->
    <servlet>
    	<servlet-name>CallBackServlet</servlet-name>
    	<servlet-class>br.ufrn.sigaa.twitter.CallBackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>CallBackServlet</servlet-name>
    	<url-pattern>/callBackServlet</url-pattern>
    </servlet-mapping>
    <!-- Fim da Interface Twitter -->

    
    <!--  Ensino -->
    
    <servlet>
		<servlet-name>TurmasCapacidadesCTServlet</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.ensino.graduacao.jsf.TurmasCapacidadesCTServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>TurmasCapacidadesCTServlet</servlet-name>
		<url-pattern>/turmasCapacidadesCTServlet</url-pattern>
	</servlet-mapping>

	<!--  COMUNIDADE VIRTUAL -->
    <servlet>
		<servlet-name>ValidarConviteCVServlet</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.cv.jsf.ValidarConviteCVServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>ValidarConviteCVServlet</servlet-name>
		<url-pattern>/validarConvite</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>extensionsFilter</filter-name>
		<filter-class>
			org.apache.myfaces.component.html.util.ExtensionsFilter
		</filter-class>
		<init-param>
			<description>
				Set the size limit for uploaded files. Format: 10 - 10
				bytes 10k - 10 KB 10m - 10 MB 1g - 1 GB
			</description>
			<param-name>uploadMaxFileSize</param-name>
			<param-value>3g</param-value>
		</init-param>
		<init-param>
			<description>
				Set the threshold size - files below this limit are
				stored in memory, files above this limit are stored on
				disk.

				Format: 10 - 10 bytes 10k - 10 KB 10m - 10 MB 1g - 1 GB
			</description>
			<param-name>uploadThresholdSize</param-name>
			<param-value>100k</param-value>
		</init-param>
	</filter>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
				/WEB-INF/conf/struts-configs/struts-config-cadastro.xml,
				/WEB-INF/conf/struts-configs/ensino/ensino-config.xml,
				/WEB-INF/conf/struts-configs/ensino/tecnico-config.xml,
				/WEB-INF/conf/struts-configs/ensino/infantil-config.xml,
				/WEB-INF/conf/struts-configs/ensino/latosensu-config.xml,
				/WEB-INF/conf/struts-configs/pesquisa/pesquisa-config.xml,
				/WEB-INF/conf/struts-configs/struts-config-portaarquivos.xml,
				/WEB-INF/conf/struts-config.xml,
				/WEB-INF/conf/struts-configs/struts-config-mensagem.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

 	<!-- CONFIGURAÇÃO PARA O RICHFACES -->
	<context-param>
        <param-name>org.richfaces.SKIN</param-name>
        <param-value>blueSky</param-value>
    </context-param>


    <context-param>
		<description>
			This parameter defines the maximum number of JSF views stored in the session for per logical view.
			The map used to store the views uses an LRU algorithm to keep the map from growing beyond the configured value.
		</description>
		<param-name>com.sun.faces.numberOfViewsInSession</param-name>
		<param-value>4</param-value>
	</context-param>

	<context-param>
		<description>
			This parameter defines the maximum number of logical views to store per session.
			The map used to store the logical views uses an LRU algorighm to keep the map from growing beyone the configured value.
		</description>
		<param-name>com.sun.faces.numberOfLogicalViews</param-name>
		<param-value>4</param-value>
	</context-param>

    <filter>
        <display-name>RichFaces Filter</display-name>
        <filter-name>richfaces</filter-name>
        <filter-class>org.ajax4jsf.Filter</filter-class>
        <init-param> 
        	<param-name>forceparser</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param> 
			<param-name>enable-cache</param-name>
			<param-value>true</param-value> 
		</init-param>		
    </filter>

	<context-param>
	
	        <param-name>org.ajax4jsf.COMPRESS_SCRIPT</param-name>
	        <param-value>true</param-value>
	
	</context-param>

    <filter-mapping>
        <filter-name>richfaces</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

	<servlet>
		<servlet-name>ConsultaCep</servlet-name>
		<servlet-class>br.ufrn.sigaa.arq.ajax.ConsultaCepServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AcessoConsultor</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.struts.AcessoConsultor
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxConsultor</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.ConsultorServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxDisciplina</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.DisciplinaServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxInstituicao</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.InstituicaoServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxDocente</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.DocenteServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>VerFotoCandidato</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.VerFotoCandidato
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxServidor</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.ServidorServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxDiscente</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.DiscenteServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxDiscenteTecnico</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.ensino.tecnico.web.servlet.DiscenteTecnicoServlet
		</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>AjaxCursoTecnico</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.CursoTecnicoServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxCurso</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.CursoServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxMunicipios</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.MunicipioServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxTurmaEntradaTecnico</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.ensino.tecnico.web.servlet.TurmaEntradaTecnicoServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AjaxEstruturaCurricularTecnica</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.ensino.tecnico.web.servlet.EstruturaCurricularTecnicaServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxPessoa</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.PessoaServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxProjetoPesquisa</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.ProjetoPesquisaAjax
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxLinhaPesquisa</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.LinhaPesquisaServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxCursoLato</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.CursoLatoAjax
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxTurma</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.TurmaServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>PessoaPorCpf</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.PessoaPorCpfServlet
		</servlet-class>
	</servlet>

<!--
	<servlet>
		<servlet-name>AjaxAreaConhecimento</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.AreaConhecimentoServlet
		</servlet-class>
	</servlet>
-->

	<servlet>
		<servlet-name>AjaxUnidade</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.UnidadeServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxTurmasDiscente</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.TurmasDiscenteServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxValidacaoProducao</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.prodocente.ajax.ValidacaoServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxObservacoesDiscente</servlet-name>
		<servlet-class>br.ufrn.sigaa.arq.ajax.ObservacoesDiscenteServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxQualificacoesDiscente</servlet-name>
		<servlet-class>br.ufrn.sigaa.arq.ajax.QualificacoesDiscenteServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>verFoto</servlet-name>
		<servlet-class>
			br.ufrn.arq.arquivos.VerArquivoServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>verArquivo</servlet-name>
		<servlet-class>
			br.ufrn.arq.arquivos.VerArquivoServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>verProducao</servlet-name>
		<servlet-class>
			br.ufrn.arq.arquivos.VerArquivoServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxPreValidacaoProDoc</servlet-name>
		<servlet-class>br.ufrn.sigaa.arq.ajax.PreValidacaoProDocServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxAreaConcentracao</servlet-name>
		<servlet-class>br.ufrn.sigaa.arq.ajax.AreaConcentracaoServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjaxProjetoMonitoria</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.ProjetoMonitoriaServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ValidacaoCalculosDiscente</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.migracao.ValidacaoCalculosDiscente
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CalculosDiscente</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.migracao.CalculosDiscente
		</servlet-class>
	</servlet>



	<servlet>
		<servlet-name>AjaxUsuario</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.ajax.UsuarioServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ArquivoSttu</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.relatorios.ArquivoSttuServlet
		</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>ArquivoFaex</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.relatorios.ArquivoAvaliacaoFinalFaexServlet
		</servlet-class>
	</servlet>

   <servlet>
  		<servlet-name>CewolfServlet</servlet-name>
  		<servlet-class>de.laures.cewolf.CewolfRenderer</servlet-class>
 	  	<load-on-startup>1</load-on-startup>
  </servlet>

	  <servlet-mapping>
  		<servlet-name>CewolfServlet</servlet-name>
  		<url-pattern>/cewolf/*</url-pattern>
  </servlet-mapping>


	<!--  PrimeFaces -->
	<servlet>
		<servlet-name>Resource Servlet</servlet-name>
		<servlet-class>org.primefaces.resource.ResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
   		<servlet-name>Resource Servlet</servlet-name>
   		<url-pattern>/primefaces_resource/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Captcha</servlet-name>
		<servlet-class>
			br.ufrn.arq.web.captcha.CaptchaServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Captcha</servlet-name>
		<url-pattern>/captcha.jpg</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SitePosRedirector</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.portal.servlet.RedirectSitePrograma
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SitePosRedirector</servlet-name>
		<url-pattern>/public/RedirectPrograma</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SiteDeptoRedirector</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.portal.servlet.RedirectSiteDepartamento
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SiteDeptoRedirector</servlet-name>
		<url-pattern>/public/RedirectDepto</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SiteCursoRedirector</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.portal.servlet.RedirectSiteCurso
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SiteCursoRedirector</servlet-name>
		<url-pattern>/public/RedirectCurso</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MigraDescricaoTurma</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.migracao.AtualizaDescricaoHorarioTurma
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SiteDocenteRedirector</servlet-name>
		<servlet-class>br.ufrn.sigaa.portal.jsf.SiteDocenteRedirector</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SiteDocenteRedirector</servlet-name>
		<url-pattern>/public/RedirectDocente</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogonSIGRH</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.struts.LogonSigrhServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogonSIGRH</servlet-name>
		<url-pattern>/logonSIGRH</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogonSIPAC</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.arq.struts.LogonSipacServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogonSIPAC</servlet-name>
		<url-pattern>/logonSIPAC</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownloadMobile</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.mobile.touch.jsf.DownloadMobileServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DownloadMobile</servlet-name>
		<url-pattern>/mobile/touch/download</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ConfigurarAcessoMobile</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.mobile.touch.jsf.ConfigurarAcessoMobileServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ConfigurarAcessoMobile</servlet-name>
		<url-pattern>/mobile/touch/configurarAcessoMobile</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>GeradorHistoricoMobile</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.mobile.touch.jsf.GeradorHistoricoMobileServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GeradorHistoricoMobile</servlet-name>
		<url-pattern>/mobile/touch/gerarHistorico</url-pattern>
	</servlet-mapping>
	
	<!-- <servlet>
		<servlet-name>AjaxAreaConhecimentoCnpq</servlet-name>
		<servlet-class>br.ufrn.sigaa.arq.ajax.AreaConhecimentoCnpqServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		</servlet>
	-->

	<!-- Standard Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>PessoaPorCpf</servlet-name>
		<url-pattern>/pessoaCPF</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ConsultaCep</servlet-name>
		<url-pattern>/consultaCep</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ValidacaoCalculosDiscente</servlet-name>
		<url-pattern>/recalcularDiscentes</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CalculosDiscente</servlet-name>
		<url-pattern>/calcularDiscente</url-pattern>
	</servlet-mapping>



	<servlet-mapping>
		<servlet-name>AcessoConsultor</servlet-name>
		<url-pattern>/acessoConsultor</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxConsultor</servlet-name>
		<url-pattern>/ajaxConsultor</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxDiscente</servlet-name>
		<url-pattern>/ajaxDiscente</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxInstituicao</servlet-name>
		<url-pattern>/ajaxInstituicao</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxDiscenteTecnico</servlet-name>
		<url-pattern>/ajaxDiscenteTecnico</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxDisciplina</servlet-name>
		<url-pattern>/ajaxDisciplina</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxDocente</servlet-name>
		<url-pattern>/ajaxDocente</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>VerFotoCandidato</servlet-name>
		<url-pattern>/verFotoCandidato</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxServidor</servlet-name>
		<url-pattern>/ajaxServidor</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>AjaxCursoTecnico</servlet-name>
		<url-pattern>/ajaxCursoTecnico</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxCurso</servlet-name>
		<url-pattern>/ajaxCurso</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxTurma</servlet-name>
		<url-pattern>/ajaxTurma</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxUnidade</servlet-name>
		<url-pattern>/ajaxUnidade</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxMunicipios</servlet-name>
		<url-pattern>/ajaxMunicipios</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxTurmaEntradaTecnico</servlet-name>
		<url-pattern>/ajaxTurmaEntradaTecnico</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AjaxEstruturaCurricularTecnica</servlet-name>
		<url-pattern>/ajaxEstruturaCurricularTecnica</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxPessoa</servlet-name>
		<url-pattern>/ajaxPessoa</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxProjetoPesquisa</servlet-name>
		<url-pattern>/ajaxProjetoPesquisa</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxLinhaPesquisa</servlet-name>
		<url-pattern>/ajaxLinhaPesquisa</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxCursoLato</servlet-name>
		<url-pattern>/ajaxCursoLato</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxTurmasDiscente</servlet-name>
		<url-pattern>/ajaxTurmasDiscente</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxObservacoesDiscente</servlet-name>
		<url-pattern>/ajaxObservacoesDiscente</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxValidacaoProducao</servlet-name>
		<url-pattern>/ajaxValidacaoProducao</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxQualificacoesDiscente</servlet-name>
		<url-pattern>/ajaxQualificacoesDiscente</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>verFoto</servlet-name>
		<url-pattern>/verFoto</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>verArquivo</servlet-name>
		<url-pattern>/verArquivo</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>verProducao</servlet-name>
		<url-pattern>/verProducao</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxPreValidacaoProDoc</servlet-name>
		<url-pattern>/ajaxPreValidacaoProDoc</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxAreaConcentracao</servlet-name>
		<url-pattern>/ajaxAreaConcentracao</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxProjetoMonitoria</servlet-name>
		<url-pattern>/ajaxProjetoMonitoria</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxUsuario</servlet-name>
		<url-pattern>/ajaxUsuario</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ArquivoSttu</servlet-name>
		<url-pattern>/arquivoSttu</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ArquivoFaex</servlet-name>
		<url-pattern>/arquivoFaex</url-pattern>
	</servlet-mapping>



	<!--    DECLARAÇÕES DA  BIBLIOTECA    -->


	<servlet>
		<servlet-name>BuscaEtiquetaAjax</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.biblioteca.servlets.BuscaEtiquetaServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BuscaEtiquetaAjax</servlet-name>
		<url-pattern>/buscaEtiquetaAjax</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>BuscaAssinaturaAjax</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.biblioteca.servlets.BuscaAssinaturaServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BuscaAssinaturaAjax</servlet-name>
		<url-pattern>/buscaAssinaturaAjax</url-pattern>
	</servlet-mapping>


	<!--     FIM DAS DECLARAÇÕES DA BIBLIOTECA      -->
	
		<!-- Definições para EAD -->
	<servlet>
		<servlet-name>Dados EAD REST Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>br.ufrn.sigaa.ead.resources.DadosEadApplication</param-value>
		</init-param>
		<init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Dados EAD REST Application</servlet-name>
		<url-pattern>/rest/ead/*</url-pattern>
	</servlet-mapping>
	
	<!--     FIM DAS DECLARAÇÕES DA EAD      -->
		<!-- Definições para Ensino em Rede -->
	<servlet>
		<servlet-name>Dados Ensino Rede REST Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>br.ufrn.sigaa.ensino_rede.resources.DadosEnsinoRedeApplication</param-value>
		</init-param>
		<init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Dados Ensino Rede REST Application</servlet-name>
		<url-pattern>/rest/ensino_rede/*</url-pattern>
	</servlet-mapping>
	
	<!--     FIM DAS DECLARAÇÕES ENSINO EM REDE      -->
	

	<servlet-mapping>
		<servlet-name>MigraDescricaoTurma</servlet-name>
		<url-pattern>/HorarioTurma</url-pattern>
	</servlet-mapping>
	
	<!-- Definições para o Módulo Vestibular -->
	<servlet>
		<servlet-name>senhaVestibular</servlet-name>
		<servlet-class>
			br.ufrn.sigaa.vestibular.jsf.RecuperaSenhaServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>senhaVestibular</servlet-name>
		<url-pattern>/public/vestibular/recuperaSenha</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>90</session-timeout>
	</session-config>

	<filter-mapping>
    	<filter-name>extensionsFilter</filter-name>
	    <url-pattern>*.jsf</url-pattern>
	</filter-mapping>
  	<filter-mapping>
    	<filter-name>extensionsFilter</filter-name>
    	<url-pattern>/faces/*</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
    	<filter-name>extensionsFilter</filter-name>
    	<url-pattern>/link/*</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
    	<filter-name>extensionsFilter</filter-name>
    	<url-pattern>*.pretty</url-pattern>
  	</filter-mapping>

  	<filter>
    	<filter-name>ViewFilter</filter-name>
    	<filter-class>br.ufrn.arq.web.ViewFilter</filter-class>

    	<init-param>
			<description>
				Parametro do Sistema - Constantes Sistema em Arq
			</description>
			<param-name>sistema</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<description>
				Nome do EJB Facade
			</description>
			<param-name>jndiName</param-name>
			<param-value>ejb/SigaaFacade</param-value>
		</init-param>
		<init-param>
			<description>
				Páginas Permitidas pelo Filter
			</description>
			<param-name>paginasPermitidas</param-name>
			<param-value>/verTelaLogin.do,/logon_unificado.jsp,/alterar_dados.jsf,/index.jsp,/logar.do,/documentos/,/documentos/index.jsp,/expirada.jsp,/historicoExterno.do,/mobile/login.jsp,/mobile/index.jsp,/mobile/logon_mobile.jsp,/mobile/,/mobile/login_desktop.jsp,/mobile/logonMobile.do,/consultaCep,/verProducao,/verFoto,/verArquivo,/analisadorSequence,/validarConvite,/verFotoIdentificacaoRu,/acessoConsultor,/mobile/touch/,/mobile/touch/index.jsp,/verTelaLoginMobile.do,/logarMobile.do,/mobile/touch/login.jsf,/visualizarAtividadeExtensao.jsf,/extensao/Atividade/print.jsf,/visualizacaoExternaProjetoPesquisa.do,/turmasCapacidadesCTServlet,/rest/mobile/logon,/rest/mobile/logon/token,/rest/mobile/error,/buscarTurma.jsf,/turmasCapacidadesCTServlet,/buscarTurma.jsf,/rest/ead/servico,/ajaxServidor</param-value>
		</init-param>
		<init-param>
			<param-name>extensoesIgnoradas</param-name>
			<param-value>jpg,gif,doc,xls,png,js,css,ico</param-value>
		</init-param>
  	</filter>

  	<filter-mapping>
    	<filter-name>ViewFilter</filter-name>
    	<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
    	<filter-name>ViewFilter</filter-name>
    	<url-pattern>*.*</url-pattern>
  	</filter-mapping>
  	
  	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
  	
  	
  	<!-- 
  	<filter>
		<filter-name>AmbientesFilter</filter-name>
		<filter-class>br.ufrn.ambientes.web.AmbientesFilter</filter-class>
	</filter>

	<filter-mapping>
    	<filter-name>AmbientesFilter</filter-name>
    	<url-pattern>*.do</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
    	<filter-name>AmbientesFilter</filter-name>
    	<url-pattern>*.jsf</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
    	<filter-name>AmbientesFilter</filter-name>
    	<url-pattern>*.jsp</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
    	<filter-name>AmbientesFilter</filter-name>
    	<url-pattern>/link/*</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
    	<filter-name>AmbientesFilter</filter-name>
    	<url-pattern>*.pretty</url-pattern>
  	</filter-mapping>
 	-->

	<!-- The Welcome File List -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>

	<error-page>
		<error-code>503</error-code>
		<location>/503.jsp</location>
	</error-page>

	<!-- CONFIGURAÇÕES DO IMAGE SERVLET DO JASPERREPORTS  -->
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>

	<!-- CONFIGURAÇÕES DO JAWR -->
    <servlet>
		<servlet-name>JavascriptServlet</servlet-name>
		<servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>
		<init-param>
		        <param-name>configLocation</param-name>
		        <param-value>jawr.sigaa.properties</param-value>
		</init-param>
        <init-param>
                <param-name>mapping</param-name>
                <param-value>/jsBundles/</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>CSSServlet</servlet-name>
		<servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>
		<init-param>
		        <param-name>configLocation</param-name>
		        <param-value>jawr.sigaa.properties</param-value>
		</init-param>
		<init-param>
		        <param-name>type</param-name>
		        <param-value>css</param-value>
		</init-param>
        <init-param>
                <param-name>mapping</param-name>
                <param-value>/cssBundles/</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
	        <servlet-name>JavascriptServlet</servlet-name>
	        <url-pattern>/jsBundles/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	        <servlet-name>CSSServlet</servlet-name>
	        <url-pattern>/cssBundles/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>KeepAlive Servlet</servlet-name>
		<servlet-class>br.ufrn.arq.web.KeepAliveServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>KeepAlive Servlet</servlet-name>
		<url-pattern>/keepAlive</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CarregaCacheEquivalencias</servlet-name>
		<servlet-class>br.ufrn.sigaa.ensino.web.CarregaCacheEquivalencias</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CarregaCacheEquivalencias</servlet-name>
		<url-pattern>/CarregaCacheEquivalencias</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Sigaa Mobile REST Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>br.ufrn.sigaa.mobile.resources.SigaaMobileApplication</param-value>
		</init-param>
		<init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Sigaa Mobile REST Application</servlet-name>
		<url-pattern>/rest/mobile/*</url-pattern>
	</servlet-mapping>

	<!-- PrettyFaces -->
	<filter>
		<filter-name>Pretty Filter</filter-name>
		<filter-class>com.ocpsoft.pretty.PrettyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Pretty Filter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<!-- Fim PrettyFaces -->

	<!-- Struts Tag Library Descriptors -->
	<jsp-config>
		<taglib>
			<taglib-uri>/tags/struts-bean</taglib-uri>
			<taglib-location>
				/WEB-INF/tld/struts-bean.tld
			</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>/tags/struts-html</taglib-uri>
			<taglib-location>
				/WEB-INF/tld/struts-html.tld
			</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>/tags/struts-logic</taglib-uri>
			<taglib-location>
				/WEB-INF/tld/struts-logic.tld
			</taglib-location>
		</taglib>


		<!-- JSTL Descriptors -->
		<taglib>
			<taglib-uri>/tags/functions</taglib-uri>
			<taglib-location>/WEB-INF/tld/fn.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>/tags/sigaa</taglib-uri>
			<taglib-location>/WEB-INF/tld/sigaa.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/sigaaFunctions</taglib-uri>
			<taglib-location>/WEB-INF/tld/ufrn-functions.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/ufrn</taglib-uri>
			<taglib-location>/WEB-INF/tld/sipac.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>/tags/ajax</taglib-uri>
			<taglib-location>/WEB-INF/tld/ajaxtags.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/cewolf</taglib-uri>
			<taglib-location>
				/WEB-INF/tld/cewolf.tld
			</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/rich</taglib-uri>
			<taglib-location>/WEB-INF/tld/rich.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>/tags/a4j</taglib-uri>
			<taglib-location>/WEB-INF/tld/a4j.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/jawr</taglib-uri>
			<taglib-location>/WEB-INF/tld/jawr.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/primefaces-p</taglib-uri>
			<taglib-location>/WEB-INF/tld/primefaces-p.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tags/primefaces-i</taglib-uri>
			<taglib-location>/WEB-INF/tld/primefaces-i.tld</taglib-location>
		</taglib>


	</jsp-config>

</web-app>