<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Curso de Graduação (UFRN)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="author" content="Andressa Kroeff Pires - SINFO">
    <link rev=made href="mailto:andressa@info.ufrn.br">

    <link rel="stylesheet" href="css/template.css" />
    <link rel="stylesheet" href="css/cursos.css" />
</head>
<body>
	<div id="bg">
    	<div id="bg_rodape">
        	<div id="estrutura">

            	<!-- topo ufrn -->
                <div id="topo">
                	<div id="sigaa">
                    	<a href="http://www.sigaa.ufrn.br/" target="_blank" title="SIGAA">SIGAA - Sistema Integrado de Gestão de Atividades Acadêmicas</a>
                    </div>
                    <div id="ufrn">
                    	<a href="http://www.ufrn.br/" target="_blank" title="Acesse o site da UFRN"><img src="img/ufrn.png" /></a>
                    </div>
                    <div id="idiomas">
                    	<a href="" title="Português"><img src="img/idioma_portugues.png" /></a>
                    	<a href="" title="English"><img src="img/idioma_ingles.png" /></a>
                    	<a href="" title="Español"><img src="img/idioma_espanhol.png" /></a>
                    </div>
                </div>

                <!-- inicio site -->
                <div id="site">
                	<div id="margem">
	                	<div id="corpo">

                        	<!-- topo -->
                        	<div id="topo_site">
                            	<div id="logo">
                                    <a href="index.html" title="Ir para a inicial"><img src="img/logo_programa.jpg" /></a>
                                </div>
                            	<div id="nomes">
                                    <span class="nome_curso">TITULO DO CURSO DE GRADUACAO / NOME DO SETOR - NOME DA UNIDADE(NOME DA CIDADE)</span>
                                    <span class="nome_centro">CENTRO OU DEPARTAMENTO DO CURSO</span>
                                    <span class="url_programa"><a href="">http://www.url.ufrn.br/curso</a></span>
                                    <span class="telefone">Telefone/Ramal: <label>3215.1234</label></span>
                                </div>
                            </div>

                        	<!-- menu flutuante -->
                            <div id="menu" class="menu">
                            	<ul>
                                    <li class="li-menu primeiro">
                                    	<a class="item-menu" title="Apresentação" href="index.html">Apresentação</a>
                                    </li>
                              		<li class="li-menu">
                                        <span class="item-menu" title="Ensino">Ensino</span>
                                        <div class="sub-menu">
                                            <ul>
                                                <li class="primeiro"><a title="Alunos Ativos" href="interna.html">&middot; Alunos Ativos</a></li>
                                                <li><a title="Currículos" href="interna.html">&middot; Currículos</a></li>
                                                <li><a title="Turmas" href="interna.html">&middot; Turmas</a></li>
                                                <li><a title="Monografias" href="interna.html">&middot; Monografias</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="li-menu">
                                    	<a class="item-menu" title="Calendário" href="interna.html">Calendário</a>
                                    </li>
                                    <li class="li-menu">
                                    	<a class="item-menu" title="Projeto Político Pedagógico" href="interna.html">Projeto Político Pedagógico</a>
                                    </li>
                                    <li class="li-menu">
                                    	<a class="item-menu" title="Notícias" href="interna.html">Notícias</a>
                                    </li>
                                    <li class="li-menu">
                                    	<a class="item-menu" title="Documentos" href="interna.html">Documentos</a>
                                    </li>
                                    <li class="li-menu">
                                    	<a class="item-menu" title="Outras Opções" href="interna.html">Outras Opções</a>
                                    </li>
                                </ul>
                            </div>

                        	<!-- conteudo -->
                            <div id="conteudo">
                            	<div class="titulo">Internas - Listagens</div>

                                <div class="texto">
                                    Alunos Ativos
                                </div>

								<!-- Exemplo para Alunos Ativos -->
                                <div id="listagem_tabela">
                                    <table id="table_lt" cellpadding="0" cellspacing="0">
                                    	<tbody>
                                            <tr class="campos">
                                                <td class="centro" width="80">Matrícula</td>
                                                <td>Aluno/Orientação</td>
                                          	</tr>
                                            <tr class="linha_par">
                                                <td class="centro" width="80">2009102159</td>
                                                <td>
                                                	ALBA SANDYRA BEZERRA LOPES
												</td>
                                            </tr>
                                            <tr class="linha_impar">
                                                <td class="centro" width="80">2010102910</td>
                                                <td>
                                                	CLAUDIO ANDRÉS CALLEJAS OLGUÍN
                                                </td>
                                            </tr>
                                            <tr class="linha_par">
                                                <td class="centro" width="80">2009102159</td>
                                                <td>
                                                	ALBA SANDYRA BEZERRA LOPES
												</td>
                                            </tr>
                                            <tr class="linha_impar">
                                                <td class="centro" width="80">2010102910</td>
                                                <td>
                                                	CLAUDIO ANDRÉS CALLEJAS OLGUÍN
                                                </td>
                                            </tr>
                                            <tr class="campos">
                                                <td class="centro" colspan="2" width="950">Estudantes disponíveis - 4</td>
                                          	</tr>
										</tbody>
									</table>
                                </div>

                                <div class="texto">
                                    Calendário
                                </div>

								<!-- Exemplo para Calendario -->
                                <div id="listagem_tabela">
                                	<div id="group_lt">
                                    	2011.1
									</div>
                                    <table id="table_lt" cellpadding="0" cellspacing="0">
                                    	<tbody>
                                            <tr class="linha_par">
												<td>
                                                	<b>10/01/2011 à 02/02/2011</b>
                                                	<div class="topicos">
                                                    	<span>
		                                                	&rarr; Matr&iacute;cula para o per&iacute;odo 2011.1
														</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="linha_impar">
												<td>
                                                	<b>10/01/2011 à 02/02/2011</b>
                                                	<div class="topicos">
                                                    	<span>
		                                                	&rarr; Matr&iacute;cula para o per&iacute;odo 2011.1
														</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="linha_par">
												<td>
                                                	<b>10/01/2011 à 02/02/2011</b>
                                                	<div class="topicos">
                                                    	<span>
		                                                	&rarr; Matr&iacute;cula para o per&iacute;odo 2011.1
														</span>
                                                    </div>
                                                </td>
                                            </tr>
										</tbody>
									</table>
                                </div>
                                
                                <div id="listagem_tabela" class="espaco_menor">
                                	
                                	<div id="group_lt">
                                    	2011.2
									</div>
                                    <table id="table_lt" cellpadding="0" cellspacing="0">
                                    	<tbody>
                                            <tr class="linha_par">
												<td>
                                                	<b>10/01/2011 à 02/02/2011</b>
                                                	<div class="topicos">
                                                    	<span>
		                                                	&rarr; Matr&iacute;cula para o per&iacute;odo 2011.1
														</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="linha_impar">
												<td>
                                                	<b>10/01/2011 à 02/02/2011</b>
                                                	<div class="topicos">
                                                    	<span>
		                                                	&rarr; Matr&iacute;cula para o per&iacute;odo 2011.1
														</span>
                                                    </div>
                                                </td>
                                            </tr>
										</tbody>
									</table>
                                </div>
                                
                                <div class="texto">
                                    Currículos
                                </div>

								<!-- Exemplo para Grade Curricular -->
                                <div id="listagem_tabela">
                                	<div id="group_lt">
                                    	Nome
									</div>
                                    <table id="table_lt" cellpadding="0" cellspacing="0">
                                    	<tbody>
                                            <tr class="campos">
                                                <td colspan="2">MT - BACHARELADO</td>
                                          	</tr>
                                            <tr class="linha_par">
                                                <td width="920">Detalhes da Estrutura Curricular 01, Criado em 2009</td>
                                                <td class="centro">
                                                	<a href=""><img src="img/ico_lupa.png" title="Visualizar a Estrutura Curricular" /></a>&nbsp;
                                                    <a href=""><img src="img/ico_detalhes.png" title="Relatório da Estrutura Curricular " /></a>
												</td>
                                            </tr>
                                            <tr class="campos">
                                                <td colspan="2">MT - BACHARELADO</td>
                                          	</tr>
                                            <tr class="linha_par">
                                                <td width="920">Detalhes da Estrutura Curricular 01, Criado em 2009</td>
                                                <td class="centro">
                                                	<a href=""><img src="img/ico_lupa.png" title="Visualizar a Estrutura Curricular" /></a>&nbsp;
                                                    <a href=""><img src="img/ico_detalhes.png" title="Relatório da Estrutura Curricular " /></a>
												</td>
                                            </tr>
                                            <tr class="campos">
                                                <td colspan="2">MT - BACHARELADO</td>
                                          	</tr>
                                            <tr class="linha_par">
                                                <td width="920">Detalhes da Estrutura Curricular 01, Criado em 2009</td>
                                                <td class="centro">
                                                	<a href=""><img src="img/ico_lupa.png" title="Visualizar a Estrutura Curricular" /></a>&nbsp;
                                                    <a href=""><img src="img/ico_detalhes.png" title="Relatório da Estrutura Curricular " /></a>
												</td>
                                            </tr>
										</tbody>
									</table>
                                    <div id="foot_lt">
										Currículos disponíveis - 3
									</div>
                                </div>


                                <div class="texto">
                                    Documentos
                                </div>

								<!-- Exemplo para Documentos -->
                                <div id="listagem_tabela">
                                	<div id="group_lt">
                                    	Formulários
									</div>
                                    <table id="table_lt" cellpadding="0" cellspacing="0">
                                    	<tbody>
                                            <tr class="linha_par">
                                                <td>
                                                    <a href="" class="negrito">REQUERIMENTO</a>
												</td>
                                            </tr>
                                            <tr class="linha_impar">
                                                <td>
                                                	<a href="" class="negrito">REQUERIMENTO - Disciplinas</a>
                                                </td>
											</tr>
                                            <tr class="linha_par">
                                                <td>
                                                	<a href="" class="negrito">TEDE</a>
                                                </td>
											</tr>
										</tbody>
									</table>
                                    <div id="foot_lt">
										Documentos disponíveis - 4
									</div>
                                </div>


                                <div class="texto">
                                    Turmas
                                </div>

								<div id="caixa_formulario">
                                    <div id="icon_cf"><img src="img/icone_bus.png" /></div>
                                    <div id="formulario">
                                        <div id="head_f">
                                            Informe os dados para consulta
                                        </div>
                                        <div id="body_f">
                                            <form>
                                            	<span class="campo">
                                                	<label>Ano . Período</label>
                                                    <input type="text" />
                                                    &nbsp;.&nbsp;
                                                    <select>
                                                    	<option value=""></option>
                                                        <option value="">1</option>
                                                        <option value="">2</option>
                                                    </select>
                                                </span>
                                            	<input type="button" class="bt_buscar" />
                                            </form>
                                        </div>
                                    </div>
                                </div>

								<!-- Lista da busca -->
                                <div id="listagem_tabela">
                                	<div id="head_lt">
                                    	Resultado da busca - 6
									</div>
                                    <div id="group_lt">
                                    	<a href="" title="Visualizar detalhes do componente">DIM0803 - CONCEPCAO ASIC</a>
									</div>
                                    <table id="table_lt" cellpadding="0" cellspacing="0">
                                    	<tbody>
                                        	<tr class="campos">
                                            	<td class="centro" width="70">Turmas</td>
                                            	<td class="centro" width="80">Ano.Período</td>
                                            	<td width="720">Docentes</td>
                                            	<td class="centro" width="70">Horários</td>
                                            </tr>
                                            <tr class="linha_par">
                                            	<td class="centro" width="70">Turma 01</td>
                                            	<td class="centro" width="80">2010.1</td>
                                            	<td width="720">IVAN SARAIVA SILVA (60h)</td>
                                            	<td class="centro" width="70">24M34</td>
                                            </tr>
                                            <tr class="linha_impar">
                                            	<td class="centro" width="70">Turma 02</td>
                                            	<td class="centro" width="80">2010.1</td>
                                            	<td width="720">BENJAMIN RENE CALLEJAS BEDREGAL (60h)</td>
                                            	<td class="centro" width="70">35M34</td>
                                            </tr>
										</tbody>
									</table>
                                </div>

                                <div id="listagem_tabela" class="espaco_menor">
                                    <div id="group_lt">
                                    	<a href="" title="Visualizar detalhes do componente">DIM1801 - ESTUDO ORIENTADO II</a>
									</div>
                                    <table id="table_lt" cellpadding="0" cellspacing="0">
                                    	<tbody>
                                        	<tr class="campos">
                                            	<td class="centro" width="70">Turmas</td>
                                            	<td class="centro" width="80">Ano.Período</td>
                                            	<td width="720">Docentes</td>
                                            	<td class="centro" width="70">Horários</td>
                                            </tr>
                                            <tr class="linha_par">
                                            	<td class="centro" width="70">Turma 01</td>
                                            	<td class="centro" width="80">2010.1</td>
                                            	<td width="720">IVAN SARAIVA SILVA (60h)</td>
                                            	<td class="centro" width="70">24M34</td>
                                            </tr>
                                            <tr class="linha_impar">
                                            	<td class="centro" width="70">Turma 02</td>
                                            	<td class="centro" width="80">2010.1</td>
                                            	<td width="720">BENJAMIN RENE CALLEJAS BEDREGAL (60h)</td>
                                            	<td class="centro" width="70">35M34</td>
                                            </tr>
                                            <tr class="linha_par">
                                            	<td class="centro" width="70">Turma 01</td>
                                            	<td class="centro" width="80">2010.1</td>
                                            	<td width="720">IVAN SARAIVA SILVA (60h)</td>
                                            	<td class="centro" width="70">24M34</td>
                                            </tr>
                                            <tr class="linha_impar">
                                            	<td class="centro" width="70">Turma 02</td>
                                            	<td class="centro" width="80">2010.1</td>
                                            	<td width="720">BENJAMIN RENE CALLEJAS BEDREGAL (60h)</td>
                                            	<td class="centro" width="70">35M34</td>
                                            </tr>
										</tbody>
									</table>
                                    <div id="foot_lt">
                                    	Turmas disponíveis - 6
                                    </div>
                                </div>


                                <div class="texto">
                                    Monografias<br><br>
                                    Nesta página você poderá buscar todas as Monografias publicadas e que possuem seus trabalhos anexados.<br>
                                    Para efetuar uma busca digite um dos critérios de busca que faça referência à monografia que deseja encontrar.
                                </div>

								<div id="caixa_formulario">
                                    <div id="icon_cf"><img src="img/icone_bus.png" /></div>
                                    <div id="formulario">
                                        <div id="head_f">
                                            Informe os critérios da busca
                                        </div>
                                        <div id="body_f">
                                            <form>
                                            	<span class="campo_maior">
                                                	<label><input type="checkbox" /> Aluno</label>
                                                    <input type="text" />
                                                </span>
                                            	<span class="campo_maior">
                                                	<label><input type="checkbox" /> Título</label>
                                                    <input type="text" />
                                                </span>
                                            	<span class="campo_maior">
                                                	<label><input type="checkbox" /> Ano</label>
                                                    <input type="text" />
                                                </span>
                                            	<input type="button" class="bt_buscar" />
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Lista da busca -->
                                <div id="listagem_tabela">
                                    <div id="group_lt">
                                    	Lista de Monografias
									</div>
                                    <table id="table_lt" cellpadding="0" cellspacing="0">
                                    	<tbody>
                                        	<tr class="campos">
                                            	<td class="centro" width="50">Ano</td>
                                            	<td class="centro" width="90">Data</td>
                                            	<td width="310">Aluno</td>
                                            	<td width="310">Orientador</td>
                                            	<td width="310">Curso</td>
                                            	<td class="centro" width="20">&nbsp;</td>
                                            </tr>
                                            <tr class="linha_par">
                                            	<td class="centro" width="50">2007</td>
                                            	<td class="centro" width="90">07/12/2006</td>
                                            	<td width="310">ANDERSON PAIVA CRUZ</td>
                                            	<td width="310">BENJAMIN RENE CALLEJAS BEDREGAL</td>
                                            	<td width="310">ENGENHARIA DE COMPUTAÇÃO</td>
                                            	<td class="centro" width="20"><a href="" title="Baixar Arquivo"><img src="img/ico_download.png" align="absmiddle" /></a></td>
                                            </tr>
                                            <tr class="linha_par">
                                            	<td colspan="6"><label>Título:</label> Fundamentos de Sistemas Fuzzy Baseados em Dados Intervalares à Luz de uma Teoria de Representação Intervalar</td>
                                            </tr>
                                            <tr class="linha_impar">
                                            	<td class="centro" width="50">2010</td>
                                            	<td class="centro" width="90">22/12/2010</td>
                                            	<td width="310">ALEXANDRE CLEMENTE</td>
                                            	<td width="310">RICARDO ALEXSANDRO DE MEDEIROS VALENTIM</td>
                                            	<td width="310">ENGENHARIA DE COMPUTAÇÃO</td>
                                            	<td class="centro" width="20"><a href="" title="Baixar Arquivo"><img src="img/ico_download.png" align="absmiddle" /></a></td>
                                            </tr>
                                            <tr class="linha_impar">
                                            	<td colspan="6"><label>Título:</label> Sistema Eletrônico de Gerenciamento de Frequencia</td>
                                            </tr>
										</tbody>
									</table>
                                </div>


                                <div class="texto">
                                    Projeto Político Pedagógico
                                    <span class="topico2"><label>Perfil Profissional:</label> O Engenheiro de Computação está apto a especificar, conceber, desenvolver, implementar, adaptar, produzir, industrializar, instalar e manter sistemas computacionais; integrar os recursos físicos e lógicos necessários para o atendimento no contexto informacional, computacional e de automação de organizações em geral.</span>
                                    <span class="topico2"><label>Área de Atuação:</label> Órgãos públicos, empresas governamentais e privadas, tais como indústrias de informática, instituições de ensino superior e de pesquisa.</span>
                                    <span class="topico2"><label>Competências e Habilidades do Profissional:</label> Nenhum conteúdo disponível até o momento</span>
                                    <span class="topico2"><label>Metodologia:</label> Nenhum conteúdo disponível até o momento</span>
                                    <span class="topico2"><label>Sistema de Gestão do Curso:</label> Nenhum conteúdo disponível até o momento</span>
                                    <span class="topico2"><label>Avaliação do Curso:</label> Nenhum conteúdo disponível até o momento</span>
                                    <span class="topico2"><label>Projeto Político Pedagógico:</label> Nenhum conteúdo disponível até o momento</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- rodape -->
                <div id="rodape">
           	    	SIGAA | Copyright &copy; 2010 - <a href="http://www.info.ufrn.br/" target="_blank" title="Desenvolvido pela SINFO">Superintend&ecirc;ncia de Inform&aacute;tica</a> - UFRN
				</div>
            </div>
        </div>
    </div>

	<script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/submenu.js" type="text/javascript"></script>
    <script type="text/javascript">
        new Submenu('#menu', {
            elementsSelector: '.li-menu',
            submenuSelector: '.sub-menu'
        });
    </script>
</body>
</html>