/*
*  CSS Document
*  Autor: Andressa Kroeff Pires (SINFO)
*  E-mail: andressa@info.ufrn.br
*  Data: 15/08/2011
*/

/* topo do site */
#corpo #topo_site {
	display: block;
	width: 100%;
	height: 142px;
}

	#topo_site #logo {
		display: inline-block;
		*float: left;
		width: 190px;
		height: 122px;
		text-align:center;
		vertical-align: top;
		padding: 10px;
	}

		#logo img {
			max-width: 190px;
			_width: 188px;
			max-height: 122px;
			_height: 120px;
		}

	#topo_site #nomes {
		display: inline-block;
		*float: left;
		width: 684px;
		height: 100%;
		margin: 0 0 0 8px;
		*margin: 0 0 0 10px;
		vertical-align: top;
	}

		#nomes .nome_curso {
			display: block;
			width: 100%;
			font-family: "Verdana", Arial, Helvetica, sans-serif;
			font-size: 16px;
			color: #4d5d9c;
			text-transform: uppercase;
			line-height: 16px;
			margin: 24px 0 26px;
		}

		#nomes .nome_centro {
			display: block;
			width: 100%;
			font-family: "Verdana", Arial, Helvetica, sans-serif;
			font-size: 13px;
			color: #000000;
			text-transform: uppercase;
			font-style: italic;
			margin-bottom: 5px;
		}

		#nomes .url_programa {
			display: block;
			width: 100%;
			font-family: "Verdana", Arial, Helvetica, sans-serif;
			font-size: 11px;
			color: #7d97fe;
		}

			.url_programa a {
				font-family: "Verdana", Arial, Helvetica, sans-serif;
				font-size: 11px;
				color: #7d97fe;
			}

			.url_programa a:hover {
				text-decoration: underline;
			}

		#nomes .telefone {
			float: right;
			width: auto;
			height: auto;
			font-family: "Verdana", Arial, Helvetica, sans-serif;
			font-size: 13px;
			color: #000000;
			font-style: italic;
			margin: -33px 0 0;
		}

			.telefone label {
				color: #7d97fe;
			}

/* menu */
#corpo .menu {
	display: block;
	width: 100%;
	height: 26px;
	background: #2f3a60;
	border-bottom: #283151 solid 1px;
}

	.menu .li-menu {
		float: left;
		padding: 0 10px 0 0;
		position: relative;
		border-left: #3b4878 solid 1px;
		z-index: 10;
	}

	.menu .primeiro {
		border-left: none;
	}

	.menu .item-menu {
		float: left;
		padding: 7px 0 0 10px;
		height: 19px;
		color: #fff;
		font-weight: bold;
	}

	.menu span.item-menu {
		cursor: default;
	}

	.menu a:hover {
		text-decoration: underline;
	}

	.menu .sub-menu {
		display: none;
		padding: 10px 10px 5px 10px;
		position: absolute;
		top: 27px;
		left: 0;
		z-index: 11;
		background: #3b4878;
	}

	.menu .sub-menu li {
		border-top: 1px solid #5d6689;
		padding: 10px 0 5px 0;
	}

	.menu .sub-menu .primeiro {
		border: 0;
		padding: 0 0 5px 0;
	}

	.menu .sub-menu a {
		display: block;
		width: auto;
		color: #fff;
		white-space: nowrap;
	}

		.sub-menu a:hover {
			text-decoration: none;
		}

/* conteudo */
#corpo #conteudo {
	display: block;
	width:98%;
	min-height: 480px;
	_height: 480px;
	margin:20px 10px 10px;
}

	.titulo {
		font-family: "Verdana", Arial, Helvetica, sans-serif;
		font-size: 16px;
		font-weight: bold;
		text-decoration: underline;
		color: #4d5d9c;
	}

	.titulo_menor {
		font-family: "Verdana", Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-weight: bold;
		text-decoration: underline;
		color: #4d5d9c;
	}

	.leia_mais a {
		float: right;
		text-align: right;
		font-family: "Verdana", Arial, Helvetica, sans-serif;
		font-size: 10px;
		color: #7d97fe;
	}

	.saiba_mais a {
		float: left;
		text-align: left;
		font-family: "Verdana", Arial, Helvetica, sans-serif;
		font-size: 10px;
		color: #7d97fe;
	}

	/* conteudo da coluna esquerda */
	#conteudo #esquerda {
		display: inline-block;
		*float: left;
		width: 72%;
		min-height: 513px;
		_height: 513px;
		margin: 0 21px 0 0;
		*margin: 0 24px 0 0;
	}

		#esquerda .topico {
			display: block;
			width: 100%;
			height: auto;
			font-weight: bold;
			color: #4d5d9c;
			margin: 20px 0 0;
		}

			.topico strong {
				color: #000000;
			}

		#esquerda .informacoes {
			display: block;
			width: 96%;
			height: auto;
			margin: 10px 0 0 30px;
		}

			.informacoes p {
				line-height: 15px;
			}

			.informacoes .cor {
				color: #7d97fe;
			}


	/* conteudo da coluna direita */
	#conteudo #direita {
		display: inline-block;
		*float: left;
		width: 249px;
		min-height: 513px;
		_height: 513px;
		vertical-align: top;
	}

		/* chamada */
		#direita #chamada {
			display: block;
			width: 100%;
			min-height: 227px;
			_height: 230px;
			margin: 14px 0 0;
		}

			#chamada #icone {
				float: right;
				width: 54px;
				height: 47px;
				position: relative;
				margin: -10px 0 0 0;
				_margin: -15px 0 0 0;
				z-index: 10px;
			}

			#chamada #caixa {
				display: block;
				*float: left;
				width: 90%;
				min-height: 100px;
				margin: 0;
				*margin: -37px 0 0 0;
				padding: 8px;
				border: 1px solid #e1e1e1;
			}

				#caixa #titulo {
					display: block;
					width: 180px;
					height: auto;
					padding: 4px 0 13px;
					text-align: center;
				}

				#caixa .introducao {
					display: block;
					width: 100%;
					height: 35px;
					line-height: 18px;
					text-align: justify;
				}

				/* listagem referente as ultimas noticias */
				#caixa #listagem ul {
					display: block;
					width: 100%;
					height: auto;
					padding: 15px 0 10px;
				}
		
					#listagem ul li {
						display: block;
						width: 100%;
						margin: 0 0 10px 0;
					}
		
					#listagem ul li a:hover {
						text-decoration: underline;
					}
		
					#listagem ul li .data {
						font-size: 9px;
						font-weight: bold;
					}

				/* listagem referente ao calendario */
				#caixa #listagem2 ul {
					display: block;
					width: 100%;
					height: auto;
					padding: 15px 0 10px;
				}

					#listagem2 ul li {
						display: block;
						width: 100%;
						margin: 0 0 10px 0;
						font-size: 10px;
						font-weight: bold;
					}

					#listagem2 ul li .evento {
						display: block;
						width: 93%;
						height: auto;
						margin: 0 0 0 15px;
						font-size: 11px;
						font-style: italic;
						font-weight: normal;
					}

					#listagem2 ul li .evento a:hover  {
						text-decoration: underline;
					}

				#caixa .link a {
					display: block;
					text-align: left;
					font-family: "Verdana", Arial, Helvetica, sans-serif;
					font-size: 10px;
					color: #7d97fe;
				}

		/* separador das chamadas */
		#direita #espaco {
			display: block;
			width: 100%;
			height: 1px;
			margin: 20px 0;
			_margin: 15px 0;
		}


	/* ------------------------------ Conteudo das internas ------------------------------ */
	.texto {
		display: block;
		width: 100%;
		height: auto;
		margin: 20px 0;
		text-align: justify;
		line-height: 15px;
	}

		.texto .foto {
			float: left;
			margin: 2px 10px 5px 0;
			border: 1px solid #e9eef2;
		}

		.texto .topico2 {
			display: block;
			width: 100%;
			height: auto;
			color: #000000;
			margin: 20px 0 0;
		}

			.topico2 label {
				font-weight: bold;
				color: #4d5d9c;
			}
	
	.subtitulo {
		font-weight: bold;
		color: #4d5d9c;
	}

	.texto_afastado {
		display: block;
		width: 99%;
		height: auto;
		margin: 10px 0 0 10px;
	}

		.texto_afastado ul#listagem {
			display: block;
			width: 100%;
		}

			.texto_afastado ul#listagem li {
				display: block;
				width: 100%;
				margin: 15px 0 0 0;
				font-weight: bold;
				text-transform: uppercase;
			}

			.texto_afastado ul#listagem li.primeiro {
				margin: 0;
			}

			.texto_afastado ul#listagem li .dados {
				display: block;
				width: 98%;
				height: auto;
				margin: 6px 0 0 20px;
				font-weight: normal;
				text-transform: none;
			}

			.texto_afastado ul#listagem li .dados p {
				display: block;
				width: 100%;
			}

			.texto_afastado ul#listagem li .dados .cor {
				color: #7d97fe;
			}

	/* listagem geral (tabela) */
	#listagem_tabela {
		display: block;
		width: 100%;
		height: auto;
		border: 1px solid #e7e7e7;
		padding: 0;
		margin: 20px 0 0;
	}

		#listagem_tabela #head_lt {
			display: block;
			width: 100%;
			padding: 15px 0;
			background: #4d5d9c url(../img/pontilhado.png) repeat-x scroll left bottom;
			color: #FFFFFF;
			font-size: 12px;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
		}

		#listagem_tabela #group_lt {
			display: block;
			width: 99%;
			height: auto;
			padding: 5px;
			background: #4d5d9c;
			color: #FFFFFF;
			font-size: 11px;
			font-weight: bold;
			text-transform: uppercase;
		}

			#listagem_tabela #group_lt a {
				color: #EDF1F8;
			}

			#listagem_tabela #group_lt a:hover {
				color: #FFFFFF;
			}

		#listagem_tabela #table_lt, #table_lt tbody {
			display: block;
			width: 100%;
			height: auto;
		}

			#table_lt tbody tr td {
				padding: 5px;
				text-align: left;
				vertical-align: middle;
			}

			#table_lt tbody tr td.centro {
				text-align: center;
			}

			#table_lt tbody tr td.direita {
				text-align: right;
			}

			#table_lt tbody tr.campos {
				display: block;
				width: 100%;
				height: auto;
				*height: 18px;
				padding: 2px 0;
				background: #EDF1F8;
				font-weight: bold;
			}

			#table_lt tbody tr.linha_par {
				display: block;
				width: 100%;
				height: auto;
				*height: 18px;
				padding: 2px 0;
				background: #F9FBFD;
			}

			#table_lt tbody tr.linha_impar {
				display: block;
				width: 100%;
				height: auto;
				*height: 18px;
				padding: 2px 0;
				background: #ffffff;
			}

			#table_lt tbody tr td a.cor, #table_lt tbody tr td a.cor_ss {
				color: #4D5D9C;
			}

			#table_lt tbody tr td a.cor:hover {
				text-decoration: underline;
			}

			#table_lt tbody tr td a.cor_ss:hover {
				color: #222222;
			}

			#table_lt tbody tr td a.negrito:hover {
				font-weight: bold;
			}

			#table_lt tbody tr td a.italico:hover {
				font-style: italic;
			}

			#table_lt tbody tr td .topicos {
				display: block;
				width: auto;
				margin-left: 20px;
			}

				#table_lt tbody tr td .topicos span {
					display: block;
					width: auto;
					margin: 8px 0 0 0;
				}

				#table_lt tbody tr td .topicos a {
					display: block;
					width: auto;
					margin: 8px 0 0 0;
				}

			#table_lt tbody tr td label {
				float: left;
				width: auto;
				font-weight: bold;
				margin: 0 10px;
			}

			#table_lt tbody tr td #descricao {
				display: block;
				width: auto;
				margin-left: 20px;
				margin-right: 20px;
			}

				#table_lt tbody tr td #descricao span {
					display: block;
					width: auto;
					margin: 0 0 5px 0;
				}

				#table_lt tbody tr td #descricao span.negrito {
					font-weight: bold;
				}

				#table_lt tbody tr td #descricao span.links {
					margin: 10px 0 0 0;
					*margin: 10px 0 -5px 0;
				}

					#table_lt tbody tr td #descricao span.links a {
						float: left;
						width: auto;
						height: auto;
						margin: 0 15px 0 0;
					}

		#listagem_tabela #foot_lt {
			display: block;
			width: 100%;
			height: auto;
			padding: 5px 0;
			background: #4d5d9c;
			color: #FFFFFF;
			font-size: 11px;
			font-weight: bold;
			text-align: center;
		}

	#listagem_tabela.espaco_menor {
		margin: 10px 0 0;
	}

	/* formulario para busca */
	#caixa_formulario {
		display: block;
		width: 516px;
		min-height: 165px;
		margin: 20px auto;
	}

		#caixa_formulario #icon_cf {
			float: right;
			width: 85px;
			height: 74px;
			position: relative;
			margin: -16px 0 0 0;
			z-index: 10px;
		}

		#caixa_formulario #formulario {
			display: block;
			*float: left;
			width: 97%;
			height: auto;
			margin: 0;
			*margin: -58px 0 0 0;
			border: 1px solid #e7e7e7;
		}
			#formulario #head_f {
				display: block;
				width: 100%;
				height: auto;
				padding: 15px 0;
				background: #4d5d9c;
				color: #FFFFFF;
				font-size: 12px;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
			}

			#formulario #body_f {
				display: block;
				width: 450px;
				*width: 451px;
				height: auto;
				padding: 25px;
				text-align: center;
			}

				#formulario #body_f .campo {
					display: block;
					width: 180px;
					_width: 175px;
					_height: auto;
					margin: 0px auto 10px;
				}

				#formulario #body_f .campo_maior {
					display: block;
					width: 360px;
					_height: auto;
					margin: 0px auto 10px;
				}

					#formulario #body_f .campo label {
						float: left;
						font-weight: bold;
						color: #000000;
						padding: 3px;
					}

					#formulario #body_f .campo_maior label {
						float: left;
						width: 55px;
						font-weight: bold;
						color: #000000;
						padding: 3px;
						text-align: left;
					}

				#formulario #body_f input {
					border: 1px #c8c8c6 solid;
					font-size: 11px;
					color: #222222;
					font-family: "Tahoma";
					padding: 2px 4px;
					width: 25px;
					height: 14px;
					margin: 0px;
					vertical-align: top;
				}

				#formulario #body_f .campo_maior input {
					border: 1px #c8c8c6 solid;
					font-size: 11px;
					color: #222222;
					font-family: "Tahoma";
					padding: 2px 4px;
					width: 280px;
					height: 14px;
					margin: 0px;
					vertical-align: top;
				}

						#formulario #body_f .campo_maior label input {
							border: none;
							padding: 0px;
							width: auto;
							height: auto;
							margin: 0 3px 0 0;
						}

				#formulario #body_f select {
					border: 1px #c8c8c6 solid;
					font-size: 11px;
					color: #222222;
					font-family: "Tahoma";
					padding: 2px;
					width: 37px;
					height: 20px;
					margin: 0px;
					vertical-align: top;
				}

				#formulario #body_f .bt_buscar {
					margin: 0px;
					background: transparent url(../img/bt_buscar.jpg) no-repeat;
					border: none;
					cursor:pointer;
					height:25px;
					width:56px;
				}

	/* ------------------------------ Conteudo das internas ------------------------------ */