.centro{
	text-align: center;
}
.direita {
	text-align: right;
}
.esquerda{
	text-align: left;
}

.painelIdentificacaoDocente { text-align: center; }
.painelIdentificacaoDocente table tr th { font-weight: bold; padding: 2px 2px;}
.painelIdentificacaoDocente table tr td { text-align: left; padding-left: 8px; }

.painelAtividades { text-align: center; margin: 10px 0 15px;}
.painelAtividades table { text-align: left; }
.painelAtividades input { padding: 2px 4px;}

.quadroTotais { background-color: #EEE; display: block; font-size: 1.4em; padding: 5px; margin-top: 10px; font-weight: bold; border: 1px solid #CCC; text-align: center;}
.quadroTotais .total{ color: #292; }

.opcoesAtividades { width: 100%; }

.painelResumo { width: 500px; margin: 10px auto; text-align: center;}
.painelResumo table { margin: auto;}
.painelResumo table th { font-weight: bold; }
.painelResumo table th, .painelResumo table td { font-size: 1.2em; text-align: left; padding: 2px 4px; }
.painelResumo table td { text-align: right;}  

.painelResumo table tr.item th, .painelResumo table tr.item td { color: #333; } 
.painelResumo table tr.item th { padding-left: 30px; }
.painelResumo table tr.item td { padding: 3px 4px; }

.painelResumo table tr.grupo th, .painelResumo table tr.grupo td { font-size: 1.3em; border-bottom: 1px solid #CCC; color: #222; background: transparent;} 

.painelResumo table tr.pendente th, .painelResumo table tr.pendente td{ color: #922; }
.painelResumo table tr.total th, .painelResumo table tr.total td{ color: #292; } 
 
.total{	background-color: #EEEEEE;	text-align:"center"; }

span.texto-ajuda { font-size: 0.9em; color: #555; padding-left: 10px; }
 