
/* 
 * Classes CSS definidas para uso dos scripts em /javascript/formutils.js 
 */
 
input.removeField, textarea.removeField, select.removeField {
	background: none;
	border: none; 
}

input.removeField:focus, textarea.removeField:focus {
	background: none;
	border: none;
	cursor: default;
}