


#painel-mensagem-envio, #painel-mensagem-leitura {
	background: #EDF1F8;
}

#painel-mensagem-leitura .corpo {
	height: 320px;
	overflow: auto;
}

#mailbox {
	position: relative;
	width: auto;
	margin: 10px auto;
}

#pastas {
	width: 100%;
	height: auto;
	border-top: #C4D2EB 2px solid;
	border-bottom: #C4D2EB 2px solid;
	background: #EDF1F8;
	margin-bottom: 5px;
}

#pastas ul {
	padding: 5px 5px 3px;
	list-style: none;
	font-weight: bold;
	margin: 0;
}

#pastas ul li {
	display: inline;	
	padding-right: 1px;
	padding-left: 4px;
	cursor: pointer;
}

#pastas ul li.enviar {
	position: absolute;
	top: 7px;
	right: 118px;
}

#pastas ul li.remover {
	position: absolute;
	right: 9px;
	top: 7px;
}

#pastas ul li.marcarMsg {
	background:none repeat scroll 0 0 #EDF1F8;
	position:relative;
	right:0;
	top:-5px;
}

#pastas ul li.msgLida {
	background-position: 3px 3px;
}

#pastas ul li a img {
	width: auto;
	height: auto;
}

#mensagens {
	width: auto;
	border: #C4D2EB 2px solid;
	overflow: auto;
}

#mensagens table caption {
	font-variant: small-caps;
	font-weight: bold;
	background: #C4D2EB;
	padding: 5px 0;
	color: #003395;
	margin: 0;
	border-collapse: collapse;
}

#mensagens table thead {
	background: #EDF1F8;
	border-bottom: #C4D2EB 1px solid;
}

#mensagens table tr {
	cursor: pointer;
}

#mensagens table tr.linhaPar {
	background: #F6F6F6;
}

#mensagens table tr.chamado {
	background: #FDF8E8;
}

#mensagens table tr td {
	color: #333;
	padding: 1px 2px;
}

#mensagens table tr th {
	padding: 2px;
}

#mensagens table tr.selected {
	cursor: pointer;
	font-weight: bold;
}
#mensagens table tr.unselected {
	cursor: pointer;
	color: black;
}

#mensagens table td.leituraObrigatoria {
	cursor: pointer;
	color: red;
}

#mensagens table td.msgLida {
	padding-left: 15px;
	background: url(../img/caixa_postal/email_open.gif) no-repeat center;
}
#mensagens table td.msgNaoLida {
	padding-left: 15px;
	background: url(../img/caixa_postal/email.gif) no-repeat center;
}
#mensagens table td.msgChamadoLida {
	padding-left: 15px;
	background: url(../img/caixa_postal/bell.gif) no-repeat center;
}
#mensagens table td.msgChamadoNaoLida {
	padding-left: 15px;
	background: url(../img/caixa_postal/bell_off.gif) no-repeat center;
}

#leituraMensagens table td.envio {
	padding-left: 15px;
	background: url(../img/caixa_postal/mail_write.gif) no-repeat center;
}

#leituraMensagens table td.leitura {
	padding-left: 40px;
	background: url(../img/caixa_postal/mail_write.gif) no-repeat center;
}

#leituraMensagens table thead{
	background: #EDF1F8;
}


#textoHeader {
	position: absolute;
	top: 155px;
	left: 0px;
	height: 43px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	border-top: #C4D2EB 2px solid;
	border-left: #C4D2EB 2px solid;
	border-right: #C4D2EB 2px solid;
	margin-left: 0px;
}

#textoHeader table tr.headMsg {
	background: #FBFBFB;
}

#textoBody {
	position: absolute;
	top: 198px;
	left: 0px;
	height: 130px;
	overflow: auto;
	padding: 0px 0px 0px 0px;
	width: 100%;
	border: #C4D2EB 2px solid;
	margin-left: 0px;
}

#textoFooter {
	position: absolute;
	top: 332px;
	height: 18px;
	width: 100%;
	border-bottom: #C4D2EB 2px solid;
	border-left: #C4D2EB 2px solid;
	border-right: #C4D2EB 2px solid;
	margin-left: 0px;
}

#textoFooter table.caixaOpcoes {
	position: absolute;
	top: 0px;
	background: #EDF1F8;
	width: 100%;
	margin-bottom: 0px;
	position: absolute;
}

#textoFooter table.caixaOpcoes tr td {
	font-weight: bold;
}

#busca {
	margin-left: 2px;
	margin-top: 5px;
	padding: 2px;
	padding-left: 20px;
	height: 22px;
	background: url(buscar.gif) no-repeat left;
	float: left;
}

#paginacao {
	margin-top: 5px;
	float: right;
}


.lerMsg {
	margin: 0 auto;
	width: 100%;
	border:#C4D2EB 1px solid;
	font-variant: Verdana;
}

.lerMsg caption {
	font-variant: small-caps;
	font-weight: bold;
	color: #003395;
	margin: 0;
	background: #C4D2EB;
}

.lerMsg thead {background: #EDF1F8; }
.lerMsg tbody td { border-top: #EDF1F8 1px solid; padding: 10px 5px;}
.lerMsg td{font-weight: normal;}

table .opcoesMensagem {
	background: #EDF1F8;
	width: 100%;
	margin: auto;
	margin-bottom: 5px;
}
table .opcoesMensagem td {
	padding: 2px;
}

table .opcoesMensagem ul {
	padding: 0;
	margin: 0 auto;
	width: 99%;
}

table .opcoesMensagem li {
	display: inline;
	float: left;
	padding-left: 10px;
}

table .opcoesMensagem li.responder {
}

table .opcoesMensagem li.encaminhar {
}

table .opcoesMensagem li.remover {
}

table .opcoesMensagem li.imprmir {
}

li.anterior {
	margin-left: 50px;
}

.chamado-trigger {
	color: yellow;
}