/* Menu do Cabe�alho. Particular ao SIGAA */

#painel-usuario #menu-usuario li.menus a{
	background-image: url(../img/menu/usuario/menu_unidade.gif);
	background-repeat: no-repeat;
	background-position: 5px 2px;
}

#painel-usuario #menu-usuario li.modulos a{
	background-image: url(../img/menu/usuario/modulos.gif);
	background-repeat: no-repeat;
	background-position:  5px 2px;
}

#painel-usuario #menu-usuario li.ajuda a{
	background-image: url(../img/menu/usuario/small_ajuda.gif);
	background-repeat: no-repeat;
	background-position:  5px 2px;
}

#painel-usuario #menu-usuario li.ajuda a{
	background-image: url(../img/menu/usuario/small_ajuda.gif);
	background-repeat: no-repeat;
	background-position:  5px 2px;
}

#painel-usuario #menu-usuario li.logarComo a{
	background-image: url(../img/menu/usuario/logar_como.png);
	background-repeat: no-repeat;
	background-position:  5px 2px;
}



#painel-usuario #menu-usuario li.ajuda, #painel-usuario #menu-usuario li.modulos {
	/*width: 45%;*/
}

#painel-usuario #menu-usuario li.caixa-postal, #painel-usuario #menu-usuario li.chamado {
	/*width: 50%;*/
}

/** Css do Menu Principal */
#menu_principal {
	padding: 0 5px;
	background: #FFF;
	height: 355px;
	border: 1px solid #6593CF;
}

#menu_principal .popup {
	padding: 0 5px;
	background: #FFF;
	height: 470px;
	border: 1px solid #6593CF;
}

#menu_principal ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #C4D2EB;
	border-width: 3px 1px;
	height: 350px;
}

#menu_principal ul li {
	margin: 2px;
	padding: 0;
	height: 70px;
	float: left;
	background-color: #C4D2EB;
	position: relative;
	width: 114px;
}


#menu_principal ul li.ensino {
	width: 94px;
	_width: 94px;
}

#menu_principal ul li a {
	height: 29px;
	width: 100%;
	display: block;
	text-align: center;
	background: #CCC;
	padding: 1px 0;
	bottom: 0;
	position: absolute;
	background:url(../img/menu/bg_opcao_menu.gif);
}

#modulos {
	width: 740px;
	height: 300px;
}
#modulos.popup {width: 95%;}


#modulos ul { text-align: left; height: 305px;}

#modulos ul li {
	height: 72px;
	width: 115px;
}

#modulos ul li.sigadmin { background-image: url(../img/icones/sigadmin.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.administracao { background-image: url(../img/icones/menu_sigrh/administracao_sistema.gif); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.usuario { background-image: url(../img/icones/menu_sigrh/preferencias_usuario.gif); background-repeat: no-repeat; background-position: center 4px;}

#modulos ul li.academico { background-image: url(../img/icones/menu_sigrh/academico.gif); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.administrativo { background-image: url(../img/icones/menu_sigrh/administrativo.gif); background-repeat: no-repeat; background-position: center 4px;}

#modulos ul li.atendimento { background-image: url(../img/icones/menu_sigrh/atendimento.gif); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.dap { background-image: url(../img/icones/menu_sigrh/dap.gif); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.das { background-image: url(../img/icones/menu_sigrh/das.gif); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.ddrh { background-image: url(../img/icones/menu_sigrh/ddrh.gif); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.capacitacao { background-image: url(../img/icones/menu_sigrh/capacitacao.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.metas { background-image: url(../img/icones/menu_sigrh/dot-chart.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.colegiados { background-image: url(../img/icones/menu_sigrh/colegiados.gif); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.dimensionamento { background-image: url(../img/icones/menu_sigrh/dimensionamento.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.chefiaUnidade { background-image: url(../img/icones/menu_sigrh/chefia_de_unidade.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.concursos { background-image: url(../img/icones/menu_sigrh/concursos.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.comissoes { background-image: url(../img/icones/menu_sigrh/comissoes.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.financeiro { background-image: url(../img/icones/menu_sigrh/financeiro.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.aposentadoria { background-image: url(../img/icones/menu_sigrh/aposentadoria.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.ferias { background-image: url(../img/icones/menu_sigrh/ferias.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.frequencia { background-image: url(../img/icones/menu_sigrh/frequencia.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.servicos { background-image: url(../img/icones/menu_sigrh/servicos.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.plano_saude { background-image: url(../img/icones/menu_sigrh/plano_saude.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.cadastro { background-image: url(../img/icones/menu_sigrh/cadastro.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.consultas_funcionais { background-image: url(../img/icones/menu_sigrh/consultas_funcionais.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.integracao_siape { background-image: url(../img/icones/menu_sigrh/integracao_siape.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.sigaa { background-image: url( ../img/icones/menu_sipac/academico.gif); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.sigrh { background-image: url(../img/icones/menu_sipac/usuario.gif); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.usuario { background-image: url(../img/icones/menu_sipac/usuario.gif); background-repeat: no-repeat; background-position: center 4px;}

#portais {
	position: absolute;
	top: 0;
	right: 0;
	width: 116px;
}

#portais ul {
	height: 305px;
}

#portais ul li {
	width: 110px;
	height: 72px;
}

#portais ul li.docente 	{ background-image: url(../img/icones/menu_sigrh/docente.gif); background-repeat: no-repeat; background-position: center 4px;}
#portais ul li.servidor	{ background-image: url(../img/icones/menu_sigrh/docente.gif); background-repeat: no-repeat; background-position: center 4px;}
#portais ul li.auditoria{ background-image: url(../img/icones/menu_sigrh/auditoria.gif); background-repeat: no-repeat; background-position: center 4px;}
#portais ul li.gestor{ background-image: url(../img/icones/menu_sigrh/servidor.gif); background-repeat: no-repeat; background-position: center 4px;}
#portais ul li.chefiaUnidade { background-image: url(../img/icones/menu_sigrh/servidor.gif); background-repeat: no-repeat; background-position: center 4px;}
#portais ul li.portal_administrativo { background-image: url( ../img/icones/menu_sipac/portal_administrativo.png); background-repeat: no-repeat; background-position: center 4px;}

/*
.popup #portais ul li {
	width: 110px;
	float: left;
}

.popup #portais{
	position: static;
	width: 100%;
	top: inherit;
	right: inherit;
	z-index: 5;
}


.popup #portais ul {
	position: relative;
	height: auto;
}
*/

/** Ensino Tecnico*/
div.cursoTecnico { background: #C4D2EB url(../img/menu/tecnico/CursoTecn.png) no-repeat left center; }
div.discenteTecnico { background: #C4D2EB url(../img/menu/tecnico/DiscenteTecn.png) no-repeat left center; }
div.disciplinaTecnico { background: #C4D2EB url(../img/menu/tecnico/DisciplinaTecn.png) no-repeat left center; }
div.turmaTecnico { background: #C4D2EB url(../img/menu/tecnico/TurmaTecn.png) no-repeat left center; }
div.administracaoTecnico { background: #C4D2EB url(../img/menu/tecnico/AdmTecn.png) no-repeat left center; }
div.relatorioTecnico { background: #C4D2EB url(../img/menu/tecnico/Tecn_Rel.png) no-repeat left center; }

/** Ensino Medio*/
div.cursoMedio { background: #C4D2EB url(../img/menu/Medio/Medio_Curso.png) no-repeat left center; }
div.discenteMedio { background: #C4D2EB url(../img/menu/Medio/Medio_Discente.png) no-repeat left center; }
div.disciplinaMedio { background: #C4D2EB url(../img/menu/Medio/Medio_Disciplina.png) no-repeat left center; }
div.turmaMedio { background: #C4D2EB url(../img/menu/Medio/Medio_Turma.png) no-repeat left center; }
div.administracaoMedio { background: #C4D2EB url(../img/menu/Medio/Medio_Adm.png) no-repeat left center; }

/** Ensino Infantil*/
div.cursoInfantil { background: #C4D2EB url(../img/menu/infantil/CursoInf.png) no-repeat left center; }
div.discenteInfantil { background: #C4D2EB url(../img/menu/infantil/DiscenteInf.png) no-repeat left center; }
div.disciplinaInfantil { background: #C4D2EB url(../img/menu/infantil/DiscInf.png) no-repeat left center; }
div.turmaInfantil { background: #C4D2EB url(../img/menu/infantil/TurmaInf.png) no-repeat left center; }
div.administracaoInfantil { background: #C4D2EB url(../img/menu/infantil/AdmInf.png) no-repeat left center; }

/** Ensino Lato Sensu*/
div.cursoLato { background: #C4D2EB url(../img/menu/Lato/CursoLato.png) no-repeat left center; }
div.discenteLato { background: #C4D2EB url(../img/menu/Lato/DiscenteLato.png) no-repeat left center; }
div.disciplinaLato { background: #C4D2EB url(../img/menu/Lato/DisciplinaLato.png) no-repeat left center; }
div.turmaLato { background: #C4D2EB url(../img/menu/Lato/TurmaLato.png) no-repeat left center; }
div.relatoriosLato { background: #C4D2EB url(../img/menu/Lato/RelLato.png) no-repeat left center; }
div.administracaoLato { background: #C4D2EB url(../img/menu/Pos/Pos_Adm.png) no-repeat left center; }

/** Pesquisa */
div.projeto { background: #C4D2EB url(../img/menu/pesquisa/projetos.gif) no-repeat left center; }
div.grupo_pesquisa { background: #C4D2EB url(../img/menu/pesquisa/grupo.gif) no-repeat left center; }
div.iniciacao { background: #C4D2EB url(../img/menu/pesquisa/ic.gif) no-repeat left center; }
div.relatorios { background: #C4D2EB url(../img/menu/pesquisa/relatorios.gif) no-repeat left center; }
div.administracaoPesquisa { background: #C4D2EB url(../img/menu/pesquisa/administracao.gif) no-repeat left center; }

/** monitoria */
div.administracao { background: #C4D2EB url(../img/menu/monitoria/administracao.gif) no-repeat left center; }
div.comissao { background: #C4D2EB url(../img/menu/monitoria/comissao.gif) no-repeat left center; }
div.cadastros { background: #C4D2EB url(../img/menu/monitoria/cadastros.gif) no-repeat left center; }
div.coordenacao { background: #C4D2EB url(../img/menu/monitoria/coordenacao.gif) no-repeat left center; }

.ThemeOfficeMainFolderRight{
	display: none;
}

#portal-servidor #menu-dropdown table tr td {
	padding-left: 4px;
}