/*****************************************
*
* 18/09/2006
* Folha de estilos gerais para os menus do SIGAA e SIPAC
* Folhas particulares a cada subsistema menu_sigaa.css e menu_sipac.css
*
********************************************/

/************************************
*         Menu Principal
*************************************/

#menu_principal {
	position: relative;
	padding: 0 3px;
}

#menu_principal h3 {
	font-size: 10pt;
	color:#333366;
	margin: 0;
	padding: 3px;
	font-variant: small-caps;
}

#menu_principal.popup {
	text-align: left;
}

#menu_principal.popup ul {
	border: 0;
}

#menu_principal ul li.off {
	background-color: #DDD;
}

#menu_principal ul li.off a {background:url(../img/menu/bg_opcao_menu_cinza.gif); }
#menu_principal ul li a { color: #FFF; font-weight: normal; }
#menu_principal ul li a:hover { color: #FFF}
#menu_principal .tooltip { font-weight:normal; color: #EEE; }

/************************************
*       Portais - Estilo genérico
*		Estilos específicos em menu_sigaa.css e menu_sipac.css
*************************************/


#portais h3 {
	text-align: right;
}



/************************************
*       Menus dos Subsistemas
*************************************/

table.subSistema {
	margin-bottom: 5px;
	border-bottom: 1px solid #C4D2EB;
	font-size: 1em;
}

table.subSistema a:hover {
	color: #222;
	text-decoration: underline;
}

table.subSistema div.secao {
	background-position: 4px;
	width: 99%;
	vertical-align: middle;
	padding: 5px 0;

}
table.subSistema h3 {
	display: inline;
	font-style: normal;
	font-weight: bold;
	font-size: 1.2emt;
	color: #003366;
	font-variant: small-caps;
	padding-left: 35px;
}

table.subSistema ul {
	margin: 0 0 0 0;
	padding: 2px 0 5px 20px;
}

table.subSistema ul ul {
	margin: 0;
	padding: 0 0 0 5px;
}

table.subSistema ul li {
	list-style-image: url(/shared/img/seta_menu.gif);
}

table.subSistema ul ul li {
	list-style-image: url(/shared/img/seta_menu2.gif);
}

table.subSistema ul li {
	font-weight: bold;
	padding: 0.25px;
}

table.subSistema ul ul li {
	font-weight: bold;
}

table.subSistema ul ul a {
	font-weight: bold;
}

table.subSistema ul li ul {
	padding-left: 10px;
	margin-bottom: 0;
	list-style-image: url(../img/seta_menu2.gif);
}

/** NOVO **/

#operacoes-subsistema {
	margin-bottom: 6px;
	font-size: 1em;
}

#operacoes-subsistema a:hover {
	color: #222;
	text-decoration: underline;
}

#operacoes-subsistema div.secao {
	background-position: 4px;
	width: 99%;
	vertical-align: middle;
	padding: 5px 0;

}
#operacoes-subsistema h3 {
	display: inline;
	font-style: normal;
	font-weight: bold;
	font-size: 1.2em;
	color: #003366;
	font-variant: small-caps;
	padding-left: 35px;
}

#operacoes-subsistema ul {
	margin: 2px 2px 10px 0;
	padding: 2px 0 5px 20px;
	
}

#operacoes-subsistema ul ul {
	margin: 0;
	
}

#operacoes-subsistema ul li {
	font-weight: bold;
	list-style-image: url(../img/seta_menu.gif);
}

#operacoes-subsistema ul ul li {
	font-weight: normal;
	background: #FAFDFF;
	list-style-image: url(../img/seta_menu2.gif);
}

#operacoes-subsistema ul ul a {
	font-weight: normal;
}

#operacoes-subsistema ul li ul {
	padding-left: 10px;
	margin-bottom: 0;
	list-style-image: url(../img/seta_menu2.gif);
}

div.aba {
	padding: 5px;
	border: 1px solid #6593CF;
	border-width: 0 1px 1px 1px;
	background: #FAFDFF;
}


#operacoes-subsistema.reduzido {
	/*width: 500px;*/
}

#operacoes-subsistema.reduzido .aba{
	height: 325px;
	overflow: auto;
}

#operacoes-subsistema.reduzido li{
	float: left;
	width: 49%;
	margin: 5px 0;
}

#operacoes-subsistema.reduzido li li{
	float: left;
	width: 90%;
	margin: 1px 0;
}

/************************************
*   Outros (Verficar utilização)
*************************************/

#menu-dropdown {
	background: #EFEBDE;
	padding: 1px 0px 1px 10px;
}

#menu-dropdown form{
	_margin-top: -13px; /*<-- esse css hack fazia aparecer uma barra no meio da tela do IE (retirado por anibal)*/
}

#menu-dropdown div div{
	_margin-left: -19px;
}


.linkRodape {
   clear: both;
   text-align: center;
   padding-top: 5px;
}

/* Esses estilos abaixo sÃ£o dos forms  */
.infoAltRem {
  margin: 0 auto;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #DEDEDE;
  border-width: 1px 0;
  width: 100%;
  padding: 2px 0;
  background: #F5F5F5;
}
.infoAltRem h4{
	font-variant: small-caps;
	border-bottom: 1px solid #DEDEDE;
	background: #DEDEDE;
	margin-top: -2px;
}
.infoAltRem img {
  top: 2px;
  position: relative;
  margin-left: 1.2em;
}

/* Gerais */

.menu {
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 1.1em;
  	text-align: center;
}

a.menu:link { color: #FFFFFF; text-decoration: none; font-weight:normal;}
a.menu:visited { color: #FFFFFF; text-decoration: none; font-weight:normal;}
a.menu:active { color: #FFFFFF; text-decoration: none; font-weight:normal;}
a.menu:hover { color: #FFFFFF; text-decoration: none; font-weight:normal;}

td.azulClaro {
	font-family: Verdana;
	font-style: normal;
	color:#333366;
	background-color: #EDF1F8;
}

td.azulClaro a{
	font-size: 0.9em;
}

td.azulMedio {
	font-family: Verdana;
	font-style: normal;
	color:#333366;
	background-color: #C4D2EB;
}

td.azulEscuro {
	font-family: Verdana;
	font-style: normal;
	color: #FFFFFF;
	background-color: #5F82BF;
}

td.divLeft {
	background: url(../img/menu/div_left.gif) left no-repeat;
}

td.divLeftEscuro {
	background: url(../img/menu/div_left_escuro.gif) left no-repeat;
}

td.divRight {
	background: url(../img/menu/div_right.gif) right no-repeat;
}

#menu {
	/*border-top:1px solid #7E97AD; */
	font-family:verdana,arial,freesans,helvetica;
	left:0pt;
	top:0pt;
	width:100%;
}
#menu ul {

}
#menu ul li {
	/*border-bottom:1px dotted #7E97AD;*/
	list-style-image:url(../img/bola_azul.gif);
	list-style-position:outside;
	list-style-type:none;
	font-size: 10pt;
}


#menu ul li li {
	/*border-bottom:1px dotted #7E97AD; */
	list-style-image:url(../img/bola_cinza.gif);
	list-style-position:outside;
	list-style-type:none;
}
#menu ul li a {

	font-family: Tahoma;
	font-size: 10pt;
	height:2%;
	padding:0.0em 0.0em 0.3em 0.3em;
}
#menu ul li a {

}
#menu ul li a:hover {
	background: #EFF3FA;
}
