/* Menu do Cabeçalho. Particular ao SIPAC */
#painel-usuario #menu-usuario li.menu-principal a{
	background-image: url(../img/menu/usuario/menu_principal.gif);
	background-repeat: no-repeat;
	background-position: 5px 2px;
}
#painel-usuario #menu-usuario li.menu-unidade a{
	background-image: url(../img/menu/usuario/menu_unidade.gif);
	background-repeat: no-repeat;
	background-position: 5px 2px;
}

#painel-usuario #menu-usuario li.processo a{
	background-image: url(../img/menu/usuario/processo.gif);
	background-repeat: no-repeat;
	background-position: 5px 2px;
}
#painel-usuario #menu-usuario li.processo_bw a{
	background-image: url(../img/menu/usuario/processo_bw.gif);
	background-repeat: no-repeat;
	background-position: 5px 2px;
}

#painel-usuario #menu-usuario li.vazio a{
	background-color: #C4D2EB;
	background-repeat: no-repeat;
	background-position: 5px 2px;
}

#painel-usuario #menu-usuario li.caixa-postal, #painel-usuario #menu-usuario li.manuais {
	/*width: 28%;*/
}



/* CSS do Menu Principal */

#menu_principal ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #C4D2EB;
	border-width: 3px 1px;
	height: 298px;
}

#menu_principal ul li {
	margin: 2px;
	padding: 0;
	width: 120px;
	height: 55px;
	float: left;
	background-color: #C4D2EB;
	position: relative;
	width: 114px;
}

#menu_principal ul li.off {
	background-color: #DDD;
}



#menu_principal ul li a {
	font-size: 1em;
	height: 28px;
	width: 100%;
	display: block;
	text-align: center;
	background: #CCC;
	padding: 1px 0;
	bottom: 0;
	position: absolute;
	background:url(../img/menu/bg_opcao_menu.gif);
}

#menu_principal ul li a { color: #FFF; font-weight: normal; }
#menu_principal ul li a:hover { color: #FFF}


#modulos {width: 715px;}

#modulos ul.outros_sistemas { text-align: left; height: 60px;}

#modulos ul li.planejamento { background-image: url(../img/icones/sigpp.png); background-repeat: no-repeat; background-position: center 4px;}
#modulos ul li.admin { background-image: url(../img/icones/sigadmin.png); background-repeat: no-repeat; background-position: center 4px;}

#modulos ul li.atendimento { background-image: url(../img/icones/menu_sipac/atendimento.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.autorizacoes { background-image: url(../img/icones/menu_sipac/autorizacao.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.almoxarifado { background-image: url(../img/icones/menu_sipac/almoxarifado.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.auditoria_controle_interno { background-image: url(../img/icones/menu_sipac/auditoria.gif); background-repeat: no-repeat; background-position: center 1px;}

#modulos ul li.biblioteca { background-image: url(../img/icones/menu_sipac/biblioteca.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.boletim_servicos { background-image: url(../img/icones/menu_sipac/boletim.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.compras { background-image: url(../img/icones/menu_sipac/compras.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.licitacao { background-image: url(../img/icones/menu_sipac/licitacao.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.liquidacao { background-image: url(../img/icones/menu_sipac/liquidacao.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.srp { background-image: url(../img/icones/menu_sipac/srp.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.patrimonio { background-image: url(../img/icones/menu_sipac/patrimonio.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.processos { background-image: url(../img/icones/menu_sipac/processos.png); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.contratos { background-image: url( ../img/icones/menu_sipac/contratos.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.convenios { background-image: url(../img/icones/menu_sipac/convenios.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.supinfra { background-image: url( ../img/icones/menu_sipac/supinfra.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.patrimonio_imovel { background-image: url(../img/icones/menu_sipac/patrimonio_imovel.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.hospitais { background-image: url(../img/icones/menu_sipac/hospitais.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.restaurante { background-image: url(../img/icones/menu_sipac/restaurante.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.faturas { background-image: url(../img/icones/menu_sipac/faturas.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.bolsas { background-image: url(../img/icones/menu_sipac/bolsas.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.transportes { background-image: url(../img/icones/menu_sipac/transportes.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.sco { background-image: url(../img/icones/menu_sipac/sco.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.protocolo { background-image: url(../img/icones/menu_sipac/protocolo.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.sigaa { background-image: url( ../img/icones/menu_sipac/academico.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.sigrh { background-image: url(../img/icones/menu_sipac/usuario.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.usuario { background-image: url(../img/icones/menu_sipac/usuario.gif); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.catalogo { background-image: url(../img/icones/menu_sipac/catalogo_material.png); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.compras_livros { background-image: url(../img/icones/menu_sipac/compra_livros.png); background-repeat: no-repeat; background-position: center 1px;}
#modulos ul li.acesso_informacao { background-image: url(../img/icones/menu_sipac/acesso_informacao.png); background-repeat: no-repeat; background-position: center 1px;}

/* CSS dos Portais */

#portais {
	position: absolute;
	top: 0;
	right: 0;
	width: 157px;
}
#portais ul {
	margin-left: 30px;
}

#portais ul li {
	height: 55px;
	width: 120px;
}


#portais ul li.portal_administrativo { background-image: url( ../img/icones/menu_sipac/portal_administrativo.png); background-repeat: no-repeat; background-position: center 1px;}
#portais ul li.portal_reitor { background-image: url( ../img/icones/menu_sipac/portal_reitor.gif); background-repeat: no-repeat; background-position: center 1px; }
#portais ul li.portal_centros { background-image: url(../img/icones/menu_sipac/portal_centro.gif); background-repeat: no-repeat; background-position: center 1px;}
#portais ul li.portal_fundacao { background-image: url( ../img/icones/menu_sipac/fundacao.gif); background-repeat: no-repeat; background-position: center 1px;}

.clear { clear:both; }

a.menu:link { color: #FFFFFF; text-decoration: none; font-weight:normal;}
a.menu:visited { color: #FFFFFF; text-decoration: none; font-weight:normal;}
a.menu:active { color: #FFFFFF; text-decoration: none; font-weight:normal;}
a.menu:hover { color: #FFFFFF; text-decoration: none; font-weight:normal;}

.noticias {
	font-family: Verdana;
	font-style: normal;
	font-size: 8pt;
	font-weight: normal;
}

hr.noticias {
	border: 0;
	width: 90%;
	color: #C4D2EB;
	background-color: #C4D2EB;
	height: 1px;
}

.noticia_importante {
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	color: red;
	font-size: 8pt;
}

/************************
**** MENU DA UNIDADE ****
*************************/

ul.menu, ul.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 1;
}

ul.menu ul {
	z-index:2;
	border: 1px solid #C4D2EB;
}


ul.menu li {
	font-weight: bold;
	color: #FFFFFF;
	position: relative;
	text-align: left;
	display: block;
	width: 100%;
	margin:0;
	padding: 0;
}

ul.menu li.right {
	font-weight: bold;
	color: #FFFFFF;
	position: relative;
	text-align:right;
}


li.right ul li{
	text-align:right;
}

li.left ul li{
	text-align:left;
}


li.left ul {
	position: absolute;
	left: 197px;
	top: 2px;
	display: none;
	z-index:50;
	border: 1px solid #C4D2EB;
	width: 345px;
}

li.right ul {
	position: absolute;
	left: -345px;
	top: 2px;
	display: none;
	border: 1px solid #C4D2EB;
	z-index:50;
	width: 345px;
}

ul.menu li.left a {
	color: #333366;
	display: block;
	text-decoration: none;
	font-weight: bold;
	padding: 3px;
	padding-right: 5px;
	border: 1px solid #FFFFFF;
	border-left: 5px solid #C4D2EB;
	border-bottom: 0;
	font: 0.9em Verdana, sans-serif;
	background: #EDF1F8;
}

li.right a {
	color: #333366;
	display: block;
	text-decoration: none;
	font-weight: bold;
	padding: 3px;
	padding-left: 5px;
	border: 1px solid #FFFFFF;
	border-right: 5px solid #C4D2EB;
	border-bottom: 0;
	font: 0.9em Verdana, sans-serif;
	background: #EDF1F8;
}

ul.menu li a:hover {
	font-weight: bold;
	color: #333366;
	border-left: 5px solid #EDF1F8;
	background: #FDF8E8;
}
ul.menu li.right a:hover {
	font-weight: bold;
	color: #333366;
	border-right: 1px solid #EDF1F8;
	border-left: 1px solid #FFFFFF;
}

ul.menu li.left a:hover {
	font-weight: bold;
	color: #333366;
	border-left: 1px solid #EDF1F8;
	border-right: 1px solid #FFFFFF;
}

ul.menu li a:link { font-weight: bold; color: #333366; }
ul.menu li a:visited { font-weight: bold; color: #333366; }
ul.menu li a:active { font-weight: bold; color: #333366; }

ul.menu li.right ul a:hover {
	border-right: 0;
}

li.left ul li a {
	border: 0;
	margin: 0;
	color: #333366;
	background: #EDF1F8;
	display: block;
	text-decoration: none;
	font-weight: bold;
	padding: 2px;
	padding-left: 3px;
	font: 0.9em Verdana, sans-serif;
}

li.right ul li a {
	color: #333366;
	background: #EDF1F8;
	display: block;
	text-decoration: none;
	padding: 2px;
	padding-left: 3px;
	font: 0.9em Verdana, sans-serif;
}

li.left ul li a:hover { font-weight: bold; border-left: 1px solid #C4D2EB; background: #FDF8E8;}
li.left ul li a:active { font-weight: bold; border-left: 1px solid #C4D2EB; }
li.left ul li a:visited { font-weight: bold; border-left: 1px solid #C4D2EB; }
li.left ul li a:link { font-weight: bold; border-left: 1px solid #C4D2EB; }

li.right ul li a:hover { font-weight: bold; border-right: 0; border-left: 1px solid #C4D2EB; background: #FDF8E8;}
li.right ul li a:active { font-weight: bold; border-right: 0; border-left: 1px solid #C4D2EB;}
li.right ul li a:visited { font-weight: bold; border-right: 0; border-left: 1px solid #C4D2EB;}
li.right ul li a:link { font-weight: bold; border-right: 0; border-left: 1px solid #C4D2EB;}

.left .setaEsq:hover { background: #FDF8E8 url(../img/menu/seta_menu_esq.gif) right no-repeat; }
.setaEsq:active { background: #EDF1F8 url(../img/menu/seta_menu_esq.gif) right no-repeat; }
.setaEsq:visited { background: #EDF1F8 url(../img/menu/seta_menu_esq.gif) right no-repeat; }
.setaEsq:link { background: #EDF1F8 url(../img/menu/seta_menu_esq.gif) right no-repeat; }

.right .setaDir:hover{ background: #FDF8E8 url(../img/menu/seta_menu_dir.gif) left no-repeat; }
.setaDir:active { background: #EDF1F8 url(../img/menu/seta_menu_dir.gif) left no-repeat; }
.setaDir:visited { background: #EDF1F8 url(../img/menu/seta_menu_dir.gif) left no-repeat; }
.setaDir:link { background: #EDF1F8 url(../img/menu/seta_menu_dir.gif) left no-repeat; }

/* Fix IE. Hide from IE Mac \*/
* html ul.menu li.left, html ul.menu li.right{
	float: left; height: 1%;
}
* html ul.menu li a {
	height: 1%;
}
/* End */

li:hover ul, li.over ul {
	display: block;
}



