#painel-erro {
	margin: 0 auto 1em;
	width: 85%;
	padding: 60px 2em;
	border: 1px solid #EFF3FA;
	background: #F7F9F8 url(/shared/img/background_erros_1024.jpg) no-repeat;
	border-top: 0;
}

#mensagem-erro {
	text-align: center;
}

#mensagem-erro h3 {
	font-size: 1.4em;
	margin-bottom: 20px;
	color: #444;		
}

#mensagem-erro p {
	margin:0 5em 15px;
	color: #404E82;
	font-weight: bold;
	line-height: 1.3em;
	
}

#link-detalhes-erro {
	display: block;
	text-align: center;
	background: #CCC;
	padding: 3px;
	color: #922;
	font-variant: small-caps;
	margin: 50px 0 0;
}

#detalhes-erro {
	display: none;
	border: 1px solid #DDD;
	background: #FFF;
	padding: 3px 7px;
	line-height: 1.3em;
	margin: 0 0 0;
	overflow: auto;
}

#detalhes-erro h3{
	font-variant: small-caps;
	border-bottom: 1px solid #666;
	margin: 5px 0 5px;
}