#portal-docente{ position: relative; }

#portal-servidors a.mais {
	display: block;
	text-align: right;
	pading: 5px;
	font-size: 0.9em;
	border-top: 1px solid #CFDCEF;
}

#portal-servidor a:hover{ 
	margin-top: 10px;
	margin-bottom: 30px;	
	text-decoration: underline;
}

#perfil-servidor {
	float:right;
	background-color: #D3E1F1;
	border:solid 1px #A9BFD3;
	width: 200px;
	height:auto;
	padding: 5px;
	position: relative;
	margin-top: 15px;
}

	#perfil-servidor .pessoal-servidor {
		background-color: #f6f9ff;
		width: 190px;
		padding: 5px;
	}

		#perfil-servidor .pessoal-servidor .foto {
			margin: 5px;
			float: right;
			width: 90px;
			_margin: 3px 2px;
		}

		#perfil-servidor .pessoal-servidor .foto img {
			width: 100%;
		}
		
		#perfil-servidor .pessoal-servidor ul {
			list-style: none;
			margin: 0;
			padding: 0;
			margin-right: 100px;
			font-size: 10px;
			width: 135x;
			_width: 134px;
		}

		#perfil-servidor .pessoal-servidor li {
			text-align:  right;
			padding: 10px 2px;
			font-size: 1.1em;
		}

		#perfil-servidor .pessoal-servidor span {
			display: block;
			font-weight: bold;
			font-size: 0.8em;
		}

	#perfil-servidor .pessoal-servidor .info-servidor p.info-servidor {
		padding: 5px 5px 5px 20px;
	}
	
	#perfil-servidor .pessoal-servidor .info-servidor img {
		width: 8%;
	}
	
	#perfil-servidor #agenda-servidor {
		background:  #f6f9ff;
	}

		#perfil-servidor #agenda-servidor h4{
			text-align: center;
			color: #555;
			margin-bottom: 5px;
		}

		#perfil-servidor #agenda-servidor h5{
			margin-bottom: 5px;
			text-align: center;
			color: #555;
		}

		#perfil-servidor #agenda-servidor table{ width: 100%; }

		#perfil-servidor #agenda-servidor td{
			color: #444;
			font-size: 0.9em;
			padding: 2px;
		}

		#perfil-servidor #agenda-servidor td.hora{
			width: 4em;
			vertical-align: top;
			text-align: right;
		}

		#perfil-servidor #agenda-servidor td.descricao{
			text-align: left;
			padding-left: 1em;
		}

#main-servidor {
	position: relative;
	margin-right: 220px;
	_margin-right: 250px;
	_width: 65%;
}
	#main-servidor table {border-collapse: collapse;}
	#main-servidor table td {padding: 2px}
	#main-servidor table th {padding: 2px 0 3px;}
	#main-servidor thead { background: inherit; }
	#main-servidor thead th {  background: #EFF3FA; border-bottom: 1px solid #CFDCEF;	}
	#main-servidor tr.odd{ background: #E6ECF7; }

#main-servidor #noticias-portal {
	background: #FFFCF5;
	padding: 10px 5px 5px 10px;
	margin: 5px 0 0 5px;
	color: #433F0F;
	position: relative;
	height: 100px;
}
	#main-servidor #noticias-portal p {margin: 0; padding: 0; }
	#main-servidor #noticias-portal p.noticia {margin-top: 1em; font-weight: bold; }
	#main-servidor #noticias-portal p.destaque { font-size: 1.2em; margin: 0; line-height: 2em; }
	#main-servidor #noticias-portal p.descricao { font-size: 0.9em; padding-left: 1.5em; line-height: 1.3em; }

#main-servidor .simple-panel {
	background: #EFF3FA;
	padding: 10px 5px 5px 10px;
	margin: 3em 0 0 5px;
}

#main-servidor .simple-panel h4{
	margin: -2.2em 0 0.5em 1em;
	color: #333;
	font-variant: small-caps;
	font-size: 8pt;
}

	#main-servidor .simple-panel table{ width: 100%;	}
	#main-servidor .simple-panel p.vazio{ padding: 5px; text-align: center; font-style: italic;	}

