table.listagem tr.destaque td{
	background: #C8D5EC;
	font-weight: bold;
	padding-left: 20px;
}

 
 #executarAcao a { background-image: url(/sigaa/img/report.png); }
 
 #alterarCadastro a { background-image: url(/sigaa/img/alterar.gif); }
 
 #removerAcao a { background-image: url(/sigaa/img/delete.gif); }
 
 #anexarFotos a { background-image: url(/sigaa/img/picture.png); }
  
 #visualizar a { background-image: url(/sigaa/img/view.gif); }
 
 #visualizarImpressao a { background-image: url(/sigaa/img/extensao/printer.png); }
 
 #visualizarOrcamentoAprovado a { background-image: url(/sigaa/img/extensao/financiamento_faex.png); }
 
 #visualizarAvaliacoes a { background-image: url(/sigaa/img/table_go.png); }
 
 #criarComunidadeVirtual a { background-image: url(/sigaa/img/icones/amb_virt.png); }
 
 #alterarMiniAtividade a { background-image: url(/sigaa/img/alterar.gif); }
  
#removerMiniAtividade a { background-image: url(/sigaa/img/delete.gif); }

#configuracoes a { background-image: url(/sigaa/img/configuracoes.png); }

#objetivos a { background-image: url(/sigaa/img/NOTE.PNG); }