#macro (traduzPrioridade $prioridade)
  #if ($prioridade == 6)
    I
  #elseif ($prioridade == 5)
    II
  #elseif ($prioridade == 4)
    III
  #elseif ($prioridade == 3)
    IV
  #elseif ($prioridade == 2)
    V      
  #end
#end

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
	<title>SIGAA - Sistema Integrado de Gest&atilde;o de Atividades Acad&eecirc;micas</title>
	<style type="text/css">
	body { font-family: sans-serif; font-size: 0.75em; }
	h1 { font-size: 1.45em; text-align: center; margin: 15px; }
	h2 { font-size: 1.15em; }
	
	#content { width: 700px; }
	
	ul { list-style: none; padding: 0; margin-bottom: 20px; }
	ul label { display: block; float: left; width: 140px; font-style: italic; }
	ul li { margin: 5px 0; }
	ul li.total { border-top: 1px solid #333; padding-top: 6px; width: 250px; }
	
	table { width: 100%; margin: 10px 0; border: 1px solid #333; border-collapse: collapse; }
	table.noborder { border: 0px; }
	table.reservas { width: 95%; margin: 10px 0; }
	table.reservas, table.reservas td { border: 0px; }
	table.noborder, table.noborder td { border: 0px; margin: 0 }
	table caption { font-size: 1.1em; font-weight: bold; }
	table td { padding: 3px; border: 1px solid #333; }
	table tr.total td { border-top: 1px solid #333; padding-top: 6px; width: 250px; }
	
	table th.no { width: 18px; }
	table th.mat { width: 75px; }
	table th.curso { width: 180px; }
	table th.sit { width: 80px; }
	table th.mot { width: 100px; }
	</style>
</head>

<body>

<div id="content">
	
	<h1>Resultado do Processamento de Matr&iacute;cula</h1>
	
	<table class="noborder">
	<tr><td width="65%" valign="top">
	<h2>Informa&ccedil;&otilde;es da Turma</h2>
	
	<table>
		<tr><td>Componente Curricular</td><td> $cc</td></tr>
		<tr><td>Turma</td><td> $turma </td></tr>
		<tr><td>Hor&aacute;rio</td><td> $horario </td></tr>
		<tr><td>Capacidade</td><td> $capacidade </td></tr>
	</table>	
	</td><td width="35%" valign="top">
		<h2>Legenda de Prioridades</h2>
		I - Aluno Formando<br/>
		II - Aluno em Recupera&ccedil;&atilde;o<br/>
		III - Aluno Nivelado<br/>
		IV - Aluno Adiantado<br/>
		V - Aluno cursando componente eletivo <br/>
		Obs.: Em cada n&iacute;vel de prioridade, o IEA ser&aacute; crit&eacute;rio de desempate. <br/>
	</td></tr>
	</table>
	
	<h2>Vagas Reservadas</h2>
	
	<table class="reservas">
		#set($total = 0) 
		#foreach($r in $reservas)
		<tr><td nowrap="nowrap">$r.matrizCurricular.descricao</td><td align="right"> $r.vagasSolicitadas</td></tr>
		#set($total = $total + $r.vagasSolicitadas)
		#end
		<tr class="total"><td>Total</td><td align="right"> $total</td></tr>
	</table>
	
	
	#foreach($matriz in $matrizes.keySet())
	<table>
		<caption>$matriz</caption>
		<thead>
			<tr>
				<th class="no">#</th>
				<th class="mat">Matr&iacute;cula</th>
				<th class="nome">Nome</th>
				<th class="curso">Curso</th>
				<th class="sit">Situa&ccedil;&atilde;o</th>
				<th class="tipo">Prior.</th>
			</tr>
		</thead>
		
		#foreach($mc in $matrizes.get($matriz))
		
		<tr>
			<td>$mc.ordem</td>
			<td>$mc.matricula</td>
			<td>$mc.nome</td>
			<td>$mc.curso</td>
			<td>$mc.descSituacao</td>
			<td>#traduzPrioridade($mc.tipo)</td>
		</tr>
		
		#end
		
	</table>
	#end
	
</div>

</body>
</html>