<?xml version="1.0" encoding="UTF-8" ?>
<!-- Colocar no classpath para especificar o nível de log -->
<configuration>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>test_log.txt</file>
		<append>true</append>
		<encoder>
			<pattern>[%d{HH:mm:ss}][%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="WARN">
		<appender-ref ref="FILE" />
	</root>
</configuration>
