body {
	background-image: none;	
	background-color: #FFF;
}

div#container {
	width: 100%;
}

div#cabecalho {
	height: 86px;
	background: #eeeeee url('../images/bg-cabecalho.jpg') repeat-x left top;
	border: none;
}

div#cabecalho div#identificacao {
	background: #DDD url(../images/cabecalho-chat.jpg) no-repeat scroll left bottom;
}

div#corpo {
	position: relative;
	padding: 0;
	background: white url('../images/bg-corpo.jpg') no-repeat left top;
}

/* Titulo do Chat */
div#corpo h1 {
	color: #404E82;
	font-size: 15px;
	line-height: 25px;
	padding-left: 20px;
	width: 400px;
}


/* Opcoes de aumentar e diminuir o texto */
div#corpo ul.opcoes-texto {
	position: absolute;
	top: 0;
	list-style: none;
	float: left;
	margin: 0;
}

div#corpo ul.opcoes-texto li {
	float: left;
	font-weight: bold;
	color: #404E82;
	padding: 0 3px;
	line-height: 25px;
}

div#corpo ul.opcoes-texto li.amais {
	font-size: 15px;
}

/* Conversacao */
div.conversacao {
	position: relative;
	overflow: auto;
	width: 100%;
}

div.conversacao-bg {
	position: absolute;
	bottom: 96px;
	left: 0;
	width: 100%;
	background: white url('../images/bg-conversacao.jpg') repeat-x center center;
}

div.conversacao ul.conversas {
	padding: 15px;
	margin: 0;
}

div.conversacao ul.conversas li h3 {
	font-weight: bold;
	font-variant: small-caps;
}

div.conversacao ul.conversas li h3 span {
	font-weight: normal;
	color: #404E82;
}

div.conversacao ul.conversas li p.texto {
	color: #666;
	margin: 0;
	padding: 0 0 10px 5px;
}

div.conversacao ul.conversas li p.tam1,
div.conversacao ul.conversas li h3.tam1 {
	font-size: 10px;
}

div.conversacao ul.conversas li p.tam2,
div.conversacao ul.conversas li h3.tam2 {
	font-size: 12px;
}

div.conversacao ul.conversas li p.tam3,
div.conversacao ul.conversas li h3.tam3 {
	font-size: 14px;
}

div.conversacao ul.conversas li p.tam4,
div.conversacao ul.conversas li h3.tam4 {
	font-size: 16px;
}

/* Campo de escrita */

div#rodape div.campo-escrita {
	position: relative;
	height: 65px;
	width: 100%;
	background: white url('../images/bg-campo-escrita.jpg') repeat-x center center;
}

div#rodape div.campo-escrita textarea {
	position: absolute;
	top: 2px;
	left: 0px;
	border: none;
	background: #F5F6F8;
	width: 90%;
	height: 55px;
	overflow: auto;
}

div#rodape div.campo-escrita a.enviar {
	position: absolute;
	top: 4px;
	right: 0;
	display: block;
	width: 57px;
	height: 22px;
	background: #F6F1DE url('../images/btn-enviar.jpg') no-repeat center top;
	padding-top: 35px;
	text-align: center;
	font-weight: bold;
	color: #c33;
}

div#rodape div.campo-escrita a.enviar:hover {
	background-position: center bottom;
	text-decoration: none;
}

/* Barra de Contatos */

div#barra-contatos {
	position: absolute;
	top: 50px;
	right: 0px;
	width: 195px;
	background: #F0F1F5 url('../images/bg-membros-online.jpg') repeat-y left top;
}

div#barra-contatos h2 {
	width: 0px;
	height: 32px;
	padding: 0 0 0 195px;
	background: transparent url('../images/tit-membros-online.jpg') no-repeat top left;
	overflow: hidden;
	margin: 0;
}

div#barra-contatos ul.lista-contatos {
	min-height: 220px;
	_height: 220px;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 10px 0;
}

div#barra-contatos li.membro {
	padding: 0 0 4px;
	margin: 0 0 6px;
	background: transparent url('../images/bg-membros-online-li.jpg') no-repeat center bottom;
}


div#barra-contatos li.membro:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div#barra-contatos li.membro {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html div#barra-contatos li.membro {height: 1%;}
div#barra-contatos li.membro {display: block;}
/* End hide from IE-mac */

div#barra-contatos li.membro p,
div#barra-contatos li.membro h4 {
	margin: 0 0 0 53px;
	padding: 0;
}

div#barra-contatos li.membro h4 {
	font-variant: small-caps;
	font-size: 11px;
}

div#barra-contatos li.membro img {
	padding: 0 3px;
	float: left;
}

div#barra-contatos li.membro p.login {
	color: #404E82;
	font-size: 10px;
}

div#barra-contatos li.membro p.curso {
	color: #666;
	font-size: 10px;
}

div#barra-contatos li.membro ul.acoes {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

div#barra-contatos li.membro ul.acoes li {
	float: left;
	margin: 0;
	padding: 0;
}

div#barra-contatos li.membro ul.acoes li a {
	display: block;
	height: 16px;
	width: 0px;
	padding-left: 16px;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top left;
}

div#barra-contatos li.membro ul.acoes li a.escrever-mensagem {
	background-image: url('../images/btn-enviar-msg.png');
}

div#barra-contatos ul.opcoes {
	margin: 0;
	padding: 0 0 13px;
	background: #F7F1E0 url('../images/bg-membros-lista-acoes.jpg') no-repeat left bottom;
	list-style: none;
}

div#barra-contatos ul.opcoes li {
	background: transparent url('../images/bg-membros-lista-acoes-li.jpg') repeat-y left bottom;
	padding: 5px;
}

div#barra-contatos ul.opcoes li a {
	display: block;
	font-variant: small-caps;
	color: #c33;
	font-weight: bold;
	line-height: 16px;
	padding-left: 20px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left center;
}

div#barra-contatos ul.opcoes li a.convidar-membro {
	background-image: url('../images/btn-convidar-membro.png');
}

div#barra-contatos ul.opcoes li a.sair {
	background-image: url('../images/btn-sair.png');
}

.fbbl_north_collapser, .fbbl_east_collapser, .fbbl_south_collapser, .fbbl_west_collapser { background: #ccc; }
.fbbl_north, .fbbl_south, .fbbl_east, .fbbl_west, .fbbl_center { padding: 0; background: #F0ECDB; border: 1px solid #ccc; }
.fbbl_north, .fbbl_south { text-align: center; }
.fbbl_north { background-color: #FFF;  }
.fbbl_south { background: #FFF; }
.fbbl_north a { color: #fff; }
.fbbl_center { background-color: #fff; }
.fbbl_west ul { list-style: none; }