/************************************
*          ESTILOS BASICOS
*************************************/
html {
	/*background: url(../img/layout/page_background.jpg) repeat-x;*/
}

body {
	font-size: 70%;
	line-height: 1.25em;
	font-family: Verdana, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
	background: #404E82 url(../images/bg_pagina_1024.jpg) center; /*#404E82;*/
}

h1,h2,h3,h4,h5,h6,form {
	margin: 0;
	padding: 0;
}

h1 { font-size: 1.3em;}
h2 { font-size: 1.2em;}
h3 { font-size: 1.1em;}
h4 { font-size: 1.1em;}

a { text-decoration: none; }
a:link { color: #666; }
a:visited { color: #333; }
a:hover {
	color: #333;
	text-decoration: underline;
}
a:active { color: #444; }

label {	cursor: pointer; }
img { border: 0; }

input.noborder {
	border: 0;
}

/** Tabelas */
table tbody tr th, table th {
	text-align: right;
	font-weight: normal;
}

table thead tr th {
	text-align: center;
	font-weight: bold;
}

table thead {
	background-color: #DEDFE3;
}

table thead th{
	font-weight: bold
}

/** Campos de Formularios */
input,select,textarea {
	font-size: 1em;
}

textarea {
	padding: 2px;
}

select {
	text-align: justify;
	font-weight: normal;
	font-size: 8pt;
	font-family: Verdana;
}

input,textarea {
	font-family: Verdana, sans-serif;
	border: 1px solid #7A7A7A;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border: 1px solid #333;
}

/************************************
*          ESTILOS GERAIS
*************************************/
.clear {clear: both;}

h2 {
	color: #D99C44;
	margin: 0 15px 10px;
	padding: 5px 10px;
	font-variant: small-caps;
	font-style: italic;
	font-size: 1.2em;
	background: #F7F7F7;
	border-bottom: 1px solid #eee;
}

/************************************
*             LAYOUT
*************************************/
#container {
	width: 950px;
	margin: 0 auto;
	position: relative;
}

/* Cabecalho */
#cabecalho {
	color: #F9F9F9;
	border-bottom: 1px solid #ddd;
}
	#cabecalho #info{
		border-bottom: 4px solid #D99C44;
		position: relative;
		line-height: 1.2em;
		background: #404E82;
	}
	#cabecalho #info {
		padding: 5px 10px 3px;
	}
	#cabecalho #info span.ufrn{
		font-weight: bold;
		font-size: 1.3em;
		letter-spacing: 2px;
		font-family: Arial, sans-serif;
	}
	#cabecalho #info span.data{
		position: absolute;
		top: 4px;
		text-align: right;
		right: 22px;
	}
	#cabecalho #identificacao{
		height: 54px;
		background: #ccc url(../images/cabecalho2.jpg) no-repeat center bottom;
		position: relative;
	}

	#cabecalho #home {
		display: block;
		position: absolute;
		left: 135px;
		top: 5px;
		width: 400px;
		height: 45px;
	}

	#cabecalho #acesso{
		position: absolute;
		top: 0px;
		right: 25px;
		background: url(../images/acesso_bg.png) no-repeat;
	}

	#cabecalho #acesso a {
		display: block;
		color: #C33;
		line-height: 2.5em;
		font-variant: small-caps;
		font-weight: bold;
		font-size: 1.2em;
		padding: 2px 24px 10px 60px;
		background: transparent url(../images/acesso.gif) no-repeat 18px 3px;
	}

#corpo {
	position: relative;
	padding: 0 0 10px;
	background: #FDFDFD;
}

#menu {
	margin: 10px 6px 5px;
	height: 230px;
	background: #FFF url(../images/menu/bg_menu_small.jpg) no-repeat;
	position: relative;
}

	#modulos {
        position:absolute;
        left:6px;
        top:8px;
        width:160px;
        text-align:left;
        padding-top:12px;
        overflow:visible;
	}

        #modulos .item {
            color: #3E4E7F;
            font-size: 12px !important;
            line-height: 24px;
            text-align:left;
            padding:0;
            width: 181px;
            cursor: pointer;
            font-variant: small-caps;
            text-indent: 15px;
        }

		 #modulos .inativo{
		 	cursor: default;
		 	color: #999;
		 }

		#modulos .sub-item {
			text-indent: 30px;
        }

        #modulos .item-over {
            background: transparent url(../images/menu/item_ativo.jpg) no-repeat;
            border-bottom:0 none;
            color:#fff;
            cursor:default;
        }

        #modulos .item-inativo-over {
			text-decoration: underline;
        }

        #opcoes-modulo {
            position:absolute;
            left:188px;
            top:15px;
            width:734px;
            line-height:14px;
            font-size:11px;
        }

		#opcoes-modulo #opcoes-slider {
			position: relative;
		}

		#opcoes-modulo .painel {
			visibility: hidden;
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
		}

        #opcoes-modulo dl {
            width:734px;
            height:204px;
            display: block;
        }

		#opcoes-modulo dt {
			float:left;
            width:355px;
            margin:5px 5px;
            height:60px;
            cursor:default;
            color:#444;
            overflow:hidden;
		}

		#opcoes-modulo div.opcao {
			padding-left: 60px;
			padding-right: 5px;
			height: 60px;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: 5px 10px;
			cursor: pointer;
		}

		#opcoes-modulo div.docentes {
			background-image: url(../images/icones/docentes.gif);
		}
		#opcoes-modulo div.autenticacao {
			background-image: url(../images/icones/autenticacao.gif);
		}
		#opcoes-modulo div.calendario {
			background-image: url(../images/icones/calendario.gif);
		}
		#opcoes-modulo div.centros {
			background-image: url(../images/icones/centros.gif);
		}
		#opcoes-modulo div.departamentos {
			background-image: url(../images/icones/departamento.gif);
		}
		#opcoes-modulo div.programas {
			background-image: url(../images/icones/programa.jpeg);
		}
		#opcoes-modulo div.biblioteca {
			background-image: url(../images/icones/biblioteca.gif);
		}
		#opcoes-modulo div.pesquisadores {
			background-image: url(../images/icones/pesquisadores.gif);
		}
		#opcoes-modulo div.bases {
			background-image: url(../images/icones/pesquisa.gif);
		}
		#opcoes-modulo div.bolsistas {
			background-image: url(../images/icones/alunos.gif);
		}
		#opcoes-modulo div.estatisticas {
			background-image: url(../images/icones/estatisticas.gif);
		}
		#opcoes-modulo div.cursos {
			background-image: url(../images/icones/cursos.gif);
		}
		#opcoes-modulo div.componentes {
			background-image: url(../images/icones/componentes.gif);
		}
		#opcoes-modulo div.selecao {
			background-image: url(../images/icones/selecao.gif);
		}
		#opcoes-modulo div.regulamento {
			background-image: url(../images/icones/regulamento.gif);
		}
		
		/******** Extensao *********/
		#opcoes-modulo div.AcoesExtensao {
			background-image: url(../images/icones/extensao.png);
		}
		#opcoes-modulo div.ProgramaExtensao {
			background-image: url(/sigaa/img/extensao/programa.png);
		}
		#opcoes-modulo div.ProjetoExtensao {
			background-image: url(/sigaa/img/extensao/projeto.png);
		}
		#opcoes-modulo div.CursoExtensao {
			background-image: url(/sigaa/img/extensao/curso.png);
		}
		#opcoes-modulo div.EventoExtensao {
			background-image: url(/sigaa/img/extensao/evento.png);
		}
		#opcoes-modulo div.ProdutoExtensao {
			background-image: url(/sigaa/img/extensao/produto.png);
		}
		
		
		
		

		

		#opcoes-modulo h3 {
			color: #404E82;
			font-size: 1.1em;
			padding: 2px 0;
		}

		#opcoes-modulo a {
			display: block;
			margin: 4px 0;
			line-height: 1.5em;
			font-style: italic;
		}

        #opcoes-modulo dt.opcao-over {
            background: transparent url(../images/menu/opcao_over.jpg) no-repeat center;
        }

        #sample-box .sample-slider {
            position:absolute;
            left:5px;
            top:5px;
            width:744px;
            height:234px;
            overflow:hidden;
        }
.required {
	background: url(../../img/required.gif) no-repeat right 5px;
  	padding-right: 0.9em;
  	vertical-align: middle;
}
/* Noticias e comunicados */
#noticias {
	float: left;
	width: 97%;
	padding: 0 10px 10px 15px;
}

#noticias h3{
	font-variant: small-caps;
	color: #404E82;
	padding: 4px 5px 2px;
	margin: 0 0 5px -5px;
	border-bottom: 2px solid #D99C44;
	font-weight: normal;
}

#noticias .noticia h4 {
	font-weight: bold;
	color: #404E82;
	font-size: 1.2em;
	line-height: 1.2em;
}

#noticias .noticia h4 span.data{
	display: block;
	color: #888;
	font-size: 0.7em;
	font-weight: normal;
}

#noticias .noticia p {
	margin: 10px 15px;
	line-height: 1.3em;
	font-size: 1.1em;
}

/* Rodape */
#rodape {
	clear: both;
	border-top: 4px solid #D99C44;
	position: relative;
	line-height: 2em;
	color: #FFF;
	text-align: center;
	background: #404E82;
}

#rodape p{
	margin: 0;
}


/*  TABELAS
********************/

/** Formularios com Tables */

/*
.formulario {
	border-color: #6A6A6A;
	border-style: solid;
	border-width: 1;
	border-spacing: 2px;
	background-color: #FAFAFA;
	text-align: left;
	padding: 2px;
}
*/

th.obrigatorio{ background: url(/sigaa/img/required.gif) no-repeat right; padding-right: 13px;}

span.obrigatorio{ background: url(/sigaa/img/required.gif) no-repeat right; padding-right: 13px;}

table.td {height: 100%;}

caption.formulario {
	padding: 0px;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	background: url(menu/bg_opcao_menu.gif) center;
	color: white;
	border: 1px solid #6A6A6A;
	border-bottom: 0;
}

table.formulario, table.subFormulario {
	margin: 0 auto;
	background-color: #F9FBFD;
	border-collapse: collapse;
}

table.formulario {
	border: 1px solid #DEDFE3;
	font-size: 1em;
	border-spacing: 2px;
}

table.formulario tr td, table.subFormulario tr td {
	padding: 3px;
}
table.formulario thead tr th {
	text-align: left;
}

table.formulario tfoot tr {
	background: #EEE;
}

table.formulario tfoot tr td, tfoot.formulario tr td {
	text-align: center;
}

table.formulario caption{
	font-size: 1.1em;
}

table.formulario caption, table.listagem caption, table.visualizacao caption, h3.tituloTabela {
	margin: 0 auto;
	padding: 3px 0;
	font-weight: bold;
	font-variant: small-caps;
	color: #FFF;
	letter-spacing: 1px;
	background: url(../images/bg_caption.gif) center repeat-x;
	text-align: center;
}

table.subFormulario caption, caption.subFormulario, td.subFormulario, table.formulario table caption, table.listagem tr.titulo {

	margin: 1px 0px;
	font-weight: bold;
	font-variant: small-caps;
	color: #333366;
	background: #EDF1F8;
	background-image: none;
	text-align: left;
	border: 0;
	letter-spacing: 1px;
	padding: 3px 0 3px 20px;
	border-bottom: 1px solid #C8D5EC;
}

table.subFormulario thead tr th, table.subFormulario thead tr td{
	text-align: left;
}

table.subFormulario tfoot, table.subFormulario tfoot td {
	background-color: #EBEBEB;
	text-align: center;
}

td.subFormularioItem {
	margin: 1px 0px;
	font-weight: bold;
	font-variant: small-caps;
	color: black;
	background: #EDF1F8;
	border-top: 1px solid #6A6A6A;
	text-align: center;
}


/**  Listagens */
table.listagem, table.subListagem  {

	font-size: 1.0em;
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
	border: 1px solid #DEDFE3;
	background-color: #F9FBFD;

}

table.listagem caption.subListagem, td.subListagem, table.listagem table caption {

	margin: 1px 0px;
	font-weight: bold;
	font-variant: small-caps;
	color: #333366;
	background: #EDF1F8;
	background-image: none;
	text-align: left;
	border: 0;
	letter-spacing: 1px;
	padding: 3px 0 3px 20px;
	border-bottom: 1px solid #C8D5EC;
}

table.listagem tfoot, table.listagem tfoot td {
	background-color: #EBEBEB;
}
table.listagem tr td{
	padding: 3px;
}

table.listagem thead tr th, table.subListagem thead tr th, table.listagem thead tr td {
	text-align: left;
	padding: 2px 4px;
}

table.listagem tbody {
	background-color: #FAFAFA;
	text-align: left;
}


table.listagem td.colPar {
	background-color: #F9FBFD;
}

table.listagem td.colImpar {
	background-color: #F5F5F5;
}

thead.listagem {
	background-color: #DEDFE3;
}

tfoot.listagem {
	background-color: #EBEBEB;
}

tbody.listagem {
	background-color: #FAFAFA;
}


.linhaPar {
	background-color: #F9FBFD;
}

.linhaPar tr td, .linhaImpar tr td{
	text-align: left;
}

.linhaImpar {
	background-color: #EDF1F8;
}

table.ytab-strip tr td {
	padding: 0 2px;
}

/** Visualizalo de dados */

table.visualizacao {
	border-collapse: collapse;
	width: 90%;
	margin: 0 auto;
	border: 1px solid #DEDFE3;
	background-color: #EBEBEB;
}

table.visualizacao tbody {
	background-color: #F9FBFD;
}

table.visualizacao tbody tr th {
	text-align: right;
	font-weight: bold;
	background: #F5F5F5;
}

table.visualizacao tbody tr td, table.visualizacao tbody tr th  {
	padding: 3px;
}

/************************************
*     ERROS, AVISOS E WARNINGS
*************************************/

#painel-erros {
	background: #F9FBFD;
	padding: 3px 28px;
	border-bottom: 1px solid #DDD;
}

#painel-erros ul{
	margin: 0;
	padding: 0;
	padding: 10px 0 10px 55px;
}

#painel-erros li{
	font-weight: bold;
}

#painel-erros ul.info {background: url(/shared/img/mensagens/info.gif) no-repeat left center;}
#painel-erros ul.warning {background: url(/shared/img/mensagens/warning.gif) no-repeat left center;}
#painel-erros ul.erros {background: url(/shared/img/mensagens/error.gif) no-repeat left center;}

#painel-erros ul.info li {color: #0CA700;}
#painel-erros ul.warning li {color: #333;}
#painel-erros ul.erros li {color: #F11;}

/************************************
*     DESCRICAO DA OPERACAO CORRENTE
*************************************/

div.descricaoOperacao {
	margin: 10px 130px 15px;
	padding: 10px;
	border: 1px solid #F3E0C3;
	background: #FFFFE4;
	line-height: 1.2em;
}

div.descricaoOperacao h4 {
	text-align: center;
	font-size: 1em;
	margin-bottom: 6px;
}

div.descricaoOperacao p {
	text-indent: 2.5em;
	margin: 3px 0;
}

div.descricaoOperacao ul {
	margin: 5px 0 5px 4em;
}

div.descricaoOperacao li {
	padding: 2px 0;
	list-style: square;
}

/************************************
*     LEGENDAS DE TABELAS
*************************************/

.legenda {
  margin: 0 auto;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #DEDEDE;
  border-width: 1px 0;
  width: 100%;
  padding: 2px 0;
  background: #F5F5F5;
}
.legenda h4{
	font-variant: small-caps;
	border-bottom: 1px solid #DEDEDE;
	background: #DEDEDE;
	margin-top: -2px;
}
.legenda img {
  top: 2px;
  position: relative;
  margin-left: 1em;
}


/**************************************
* 	
**************************************/