table.listagem tr.destaque td{
	background: #C8D5EC;
	font-weight: bold;
	padding-left: 20px;
}


 #lancarFrequencia a { background-image: url(/sigaa/img/calendario.png); }
 
 #relatorioFrequencia a { background-image: url(/sigaa/img/report.png); }
 
 #lancarNotasSemanais a { background-image: url(/sigaa/img/historico.png); }

 #relatorioFreqDiscente a { background-image: url(/sigaa/img/user.png); }
 
 #lancarNotasDisciplina a { background-image: url(/sigaa/img/table_go.png); }
 
 #consolidacaoParcial a { background-image: url(/sigaa/img/disk_green16.png); }
 
 #consolidacaoFinal a { background-image: url(/sigaa/img/salvar16.png); }
 