table.listagem tr.destaque td{
	background: #C8D5EC;
	font-weight: bold;
	padding-left: 20px;
}

 
#alterarProposta a { background-image: url(/sigaa/img/alterar.gif); }

#removerProposta a { background-image: url(/sigaa/img/delete.gif); }

#alterarStatus a { background-image: url(/sigaa/img/trocar.gif); }

#verHistorico a { background-image: url(/sigaa/img/listar.gif); }

#visualizarProposta a { background-image: url(/sigaa/img/buscar.gif); }

#visualizarProposta a { background-image: url(/sigaa/img/buscar.gif); }

#cadastrarCurso a { background-image: url(/sigaa/img/seta.gif); }

#cadastrarTurmaEntrada a { background-image: url(/sigaa/img/menu-turma-virtual/turma.gif); }

