#conteudo { position: relative; width: 100%; min-height: 330px; }

#discente { position: relative; float: left; width: 220px; background: #EFF3FA; border: 5px solid #CFDCEF; padding: 10px; min-height: 320px;}
#discente .foto { text-align: center;}
#discente .foto img {	margin: 5px; width: 100px; _margin: 3px 2px; }

#menu { position: relative; float: right; margin-left: 5px; width: 720px; min-height: 320px;}
#tabela-menu { background: #EFF3FA; border: 5px solid #CFDCEF; width: 100%;}
#icones tr td { padding: 10px; }