.corpo { width: 95%; margin: 0 auto; }
.calendario { font-size: 0.85em; width: 130px; float: left; text-align: center; }
.calendario table { width: 100%; border:1px solid #99BBE8; margin-bottom:10px; }
.calendario table tr td { text-align: right; color:#AAAAAA;	 }
.calendario table tr th { text-align: right; color:#333333; font-weight:bold; background:#EEE;	 }
.calendario caption { font-weight:bold; background:#D9E7F8; text-align:center; border: 1px solid #99BBE8; border-bottom:none; }
.frequencia { margin-left: 120px; }
.frequencia table{ margin: 0 auto; }
.frequencia h3 { text-align: center; }
.frequencia p { margin: 15px auto; text-align: center; }
p.semHorario { text-align: center; font-weight: bold; color: red; margin: 20px 0; }
table.listing tr td { border-bottom: 1px solid #888 }
.feriado { text-align:center; color:#FF0000; width:15px; border:1px solid #666666; }
.cancelada { text-align:center; background:#FFFF99; width:15px; border:1px solid #666666; }
.lancada { text-align:center; background:#6cdf46; width:15px; border:1px solid #666666; }