/* LAYOUT */
html.background {  }
html, body { height: 100%; }

#container {
	/* Flexibilidade */
	min-width: 750px;
	max-width:100%;
	width: 100%;
	width: expression(document.body.clientWidth);
    position: relative;
    min-height: 100%;
}

#conteudo { padding-bottom: 15px; }
#cabecalho{ width:100%; width: expression(document.body.clientWidth); }
#rodape { position: absolute; bottom: 0; width: 100%; }

#menu-cabecalho h2 { margin-bottom: 0; }

#menu-turma { width: 195px; float: left; }
#conteudo-turma { margin-left: 205px; margin-right: 0; }
#menu-direita { width: 216px; float: right; }

/* ABAS */
#abas-turma { width: 100%; margin: 0 auto; }

/* AULAS */
#aulas-turma h4 {
	font-size: 8pt;
	font-family: Tahoma;
	color: #444;
	border-bottom: 1px solid #C4D2EB;
	//padding: 0 0 3px 0;
	//font-variant: small-caps;
	//letter-spacing: 0.2em;
}
#aulas-turma p.descricao-aula { padding: 5px 0 5px 5px; line-height: 1.4em; }
#aulas-turma ul.materiais { margin: 0 0 10px 15px; padding: 0; list-style: none; }
#aulas-turma ul.materiais li{ padding: 2px 0; }

/* ARQUIVOS */
#materiais-turma td.file-size{
	text-align: right;
}
/* ITENS ACIMA DAS ABAS */
#conteudo-cima { height: 100px; }
.item-conteudo-cima {
	padding: 5px 10px;
	background: #FDF3E1;
	color: #333;
	width: 46%;
	min-height: 85px;
	overflow: auto;
	margin-top: 4px;
}
.item-conteudo-cima a { font-weight: normal; }
.item-conteudo-cima a:visited { font-weight: normal; }
.item-conteudo-cima h4 {
	color: #CD8E10;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}

/* NOTÍCIAS */
#noticias-turma { float: left; }
/* ULTIMAS ATIVIDADES */
#atividades-turma { float: right; }
#atividades-turma ul { margin: 0; padding: 0; list-style: none; }
#atividades-turma span.data { font-size: 0.9em; color: #555; }

/* MENU-DIREITA */
.item-menu-direita {
	width: 216px;
	min-height: 120px;
	/* padding: 3px; */
	background-color:#EFF3FA;
	color:#003395;
	overflow: auto;	
	margin-bottom: 7px;
}
.item-menu-direita h4 {
	color: #003395;
	font-weight: bold;
	text-align: center;
	margin-bottom:5px;
	padding: 0 0 2px 5px;
	font-variant: small-caps;
	background-color: #C4D2EB;
}
.item-menu-direita a { font-weight: normal; }
.item-menu-direita ul{ margin: 0; padding: 0; list-style: none; }
.item-menu-direita li{ margin: 0; padding: 0 0 1px 10px; }
.item-menu-direita span.data { font-size: 0.9em; color: #555; }

ul.enquete { padding: 2px; }
ul.enquete li { font-size: 0.95em; }
ul.enquete li.votado { font-weight: bold; }

h3 { text-align: center; margin: 15px auto; font-size: 1.3em }

fieldset { background-color: #F7F7F7; width: 95%; margin: 0 auto; border-bottom: none; border-left: none; border-right: none; }
fieldset legend { color: #404E82; font-size: 1.2em; font-variant: small-caps; font-weight: bold; padding: 3px; }
fieldset ul li { padding: 5px; padding-left: 15px; }
fieldset ul li label { display: block; float: left; width: 140px; text-align: right; }
fieldset ul li label.normal { display: inline; }
fieldset ul li label.required { font-weight: bold; background: none; }
fieldset ul li label.required span.required { background-position: 5px 3px; }
fieldset ul li.botoes { background: #DEDFE3; text-align: center; }
fieldset ul li.itens-obrigatorios { font-size: 0.9em; background-color: #FFF; background-image: url("../../img/required.gif"); background-repeat: no-repeat; background-position: 2px 7px;}
fieldset table tr td { padding: 3px; }

span.descricao-campo { display: block; font-weight: normal; font-size: 0.85em; color: #444; }
.sem-topicos-aula { border: 2px solid red; }

.ajuda-operacao {
	background-color: #EFF3FA;
	background-image: url(../../img/porta-arquivos/about.png);
	background-repeat: no-repeat;
	background-position: 7px 2px;
	border-bottom: 1px solid #C4D2EB;
	border-top: 1px solid #C4D2EB;
	margin: 10px auto;
	width: 70%;
	font-size: 0.9em;
	padding-left: 40px; 	
}
.ajuda-operacao p { padding-top: 3px; padding-bottom: 3px; }

#trocarTurma { float: right; padding-top: 2px; padding-right: 3px; }
#trocarTurma select { width: 250px; }
#trocarTurma strong { font-weight: bold; }