#arquivos { min-height: 200px; }
#diretorios { min-height: 200px; }

/* min-height for IE */
* html #arquivos { height: 200px; }
* html #diretorios { height: 200px; }

#porta-arquivos { margin: 0 auto; width: 97%; }

.novoArquivo tbody tr td em button { background-image: url(../../img/porta-arquivos/page_add.png); background-repeat: no-repeat; background-position: 2px 2px; }
.novaPasta tbody tr td em button { background-image: url(../../img/porta-arquivos/folder_add.png); background-repeat: no-repeat; background-position: 2px 2px; }
.alterarPasta tbody tr td em button { background-image: url(../../img/porta-arquivos/folder_edit.png); background-repeat: no-repeat; background-position: 2px 2px; }
.removerPasta tbody tr td em button { background-image: url(../../img/porta-arquivos/folder_delete.png); background-repeat: no-repeat; background-position: 2px 2px; }

#arquivos { width: 79%; float: right; }

#diretorios { width: 21%; margin-right: 79%; overflow: auto; }
#diretorios .x-tree-node-leaf .x-tree-node-icon { background: url(/shared/javascript/ext-2.0.a.1/resources/images/default/tree/folder.gif); }
#diretorios .x-tree-selected .x-tree-node-icon { background: url(/shared/javascript/ext-2.0.a.1/resources/images/default/tree/folder-open.gif); }

.x-tree-node a { font-weight: normal; }
a.x-menu-item { font-weight: normal; text-align: left; color: #010101 }

#dummyDiv { display: none; }

#painel-nova-pasta {
	background-color: #FFF;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

#ajuda-porta-arquivos {
	background-color: #EFF3FA;
	background-image: url(../../img/porta-arquivos/about.png);
	background-repeat: no-repeat;
	background-position: 7px 10px;
	border-bottom: 1px solid #C4D2EB;
	border-top: 1px solid #C4D2EB;
	margin: 10px auto;
	width: 70%;
}

#ajuda-porta-arquivos .bem-vindo { margin-left: 40px; }
#ajuda-porta-arquivos .bem-vindo strong { font-weight: bold; }
#ajuda-porta-arquivos #barra-uso {
	border: 1px solid #888;
	margin: 2px auto;
	position: relative;
	width: 250px;
}

#ajuda-porta-arquivos #barra-uso .usado { background-color: #C4D2EB; }
#ajuda-porta-arquivos #barra-uso .total { 
	text-align: center;
	position: absolute;
	top: 0;
	width: 250px;
}
#painel-renomear {
	background-color: #FFF;
	width: 100%;
	/* height: 100%; */
	visibility: hidden;
}
.form-porta-arquivos td {
	padding: 4px;
}