


table.menuBotoes td.operacao {
	width: 90px;
	font-size: xx-small;
	text-align: center;
	background: url(/sigaa/img/biblioteca/bg_botao2.gif) no-repeat 50% 0px;
	padding: 6px;
	border: 2px solid #FFF;
	vertical-align: bottom;
}
table.menuBotoes td.operacao a {
	color: #333;
	display: block;
}
table.menuBotoes td.operacao a:hover {
	color: #003395;
	
}

table.menuBotoes td.operacaoDesabilitado {
	width: 90px;
	font-size: xx-small;
	text-align: center;
	background: url(/sigaa/img/biblioteca/bg_botao3.gif) no-repeat 50% 0px;
	padding: 6px;
	border: 2px solid #FFF;
	vertical-align: bottom;
}