/****************************************************
*    Estilo para os botões pequenos                 *
*****************************************************/


/* A lista que contem os botões */
ul.listaOpcoes {
	padding-top: 10px;
 	margin: 10px auto;
 	position: relative;
 	background: #FFF;
 	border: 1px solid #C8D5EC;
 	width: 710px;
 	height: 30px;
}

/* Os itens da lista que são os botões */
ul.listaOpcoes li {
	float: left;
	width: 212px;
	background: transparent url(/sigaa/img/biblioteca/botao-menu-peq.jpg) no-repeat left top;
	margin: 5px 10px;
}

/* quando passar por cima para ficar verde */
ul.listaOpcoes li:hover {
	background-position: right top;
}

/* o texto dos botões */
ul.listaOpcoes li a {
   line-height: 22px;
   padding-left: 24px;
   display: block;
   background-repeat: no-repeat;
   background-position: 4px 4px;
   font-size: 0.9em;
}

/* Cada botão individual precisa ter uma figura */

/* botão de excluir título na pagina da catalogação */
#btnExcluirTitulo a { background-image: url(/sigaa/img/delete_old.gif); }

/* botão editar título na pagina da catalogação*/
#btnEditarTitulo a { background-image: url(/sigaa/img/alterar.gif); }

/* botão substituir título na pagina da catalogação */
#btnSubstituirTitulo a { background-image: url(/sigaa/img/portal_turma/lista_presenca.png); }

/* botão adicionar novo título na pagina de resultadosPesquisaTitulo  */
#btnAdicionarNovoTitulo a{ background-image: url(/sigaa/img/add2.png);}

/* botão adicionar novo título usando planilha na pagina de resultadosPesquisaTitulo  */
#btnAdicionarNovoTituloPlanilha a{ background-image: url(/sigaa/img/add_coluna.png);}

/* botão importar título na pagina de resultadosPesquisaTitulo  */
#btnImportarTitulo a{ background-image: url(/sigaa/img/biblioteca/importar.png);}

/* botão incluir um título a partir de uma defesa  */
#btnIncluirTituloDefesa a{ background-image: url(/sigaa/img/report.png);}


/* botão que visualiza o histórico de alterações de um título ou autoridade na página de catalogação:
 *  /biblioteca/processos_tecnicos/catalogacao/formDadosTituloCatalografico.jsp
 */
#btnHistoricoTitulo a{ background-image: url(/sigaa/img/clock.png);}

/**
 *  Botão da página de materiais de um título para transferir todos os materiais para outro título.
 */
#btnTransferirMateriais a{ background-image: url(/sigaa/img/table_refresh.png);}
