
/* 
 *     Define o estido da pagina onde o usuário realiza a catalogação.
 */

/* sobreescreve o css normal do SIGAA para a tela de catalogação ser  "full layout" */

html, body { 
 height: 100%;
}

html.background, body.background {  /* Retira a imagem de backgroud da tela de catalogação, que é full layout  */
    background: none;
}

#container{ width:  100%; height: 100%;} /* Sobre escreve o estilo padrão do sigaa para fica em tela cheia  */

/* *********************************************************************************** */


.texto{ font-style: italic;}  /* para os texto de ajuda dos campos */
	
.nada{

}

.textAlinhadoDireita{
	text-align: right;
}


/* Define as propriedades gerais do richDataTable onde os campos de um titulo catalografico aparecem */ 
.tabelaCamposDadosCatalogacao{
    width: 100%;           /* largura da tabela*/
    border-style: solid;      /* sem borda */
	border: 0px;
	margin: 0px;
	padding: 0px;
}

/* Retira a borda da tabela interna onde estÃ£o as informacoes dos subcampos*/
.tabelaSubCampos{
	border-style: solid;      /* sem borda */
	border: 0px;
	width: 100%;             /* tamanho 100% */
}


#tlbRodapeCamposCatalograficos{ /* a ultima tabela da tela nao tem bordas */
	border: 0px;
}

#tlbBotoesDeComando{ /* a tabela dos botões da tela nao tem bordas */
	border: 0px;
}

/* Subreescrea a classe de estilo que o rich faces gera para as colunas da tabela <td>  */
.rich-table-cell{
	border: 0px;
	margin: 0px;
	padding: 0px;
	vertical-align: top;   /* dentro da celula da tabela o alinhamento é sempre no top */
	text-align: center;
}

.descricaoEtiquetaDados{
	text-align: left;
}



/* Os campos de entrada dos dados devem possuir borda somente em baixo*/

.inputTxtTagEtiqueta{ 
	border-style: solid;      /* borda são em baixo*/
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	width: 25px;            /* tamanho exato das tres letras da etiqueta */
	
	font-weight:bold;   /* etiqueta negrito par destacar */
}

.inputTxtIndicadores{
	border-style: solid;      /* borda são em baixo*/
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	width: 10px;            /* tamanho exato das 1 letra de um indicador */
	
	font-weight:bold;   /* indicadores de cor azul para destacar */
	color:blue;
}

.inputTxtCodigoSubCampo{
	border-style: solid;      /* borda são em baixo*/
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	width: 10px;            /* tamanho exato da 1 letra do codigo de sub capo*/
	
	font-weight:bold;  /* codigo sub campo de cor vermelho para destacar */
	color:red;
}


.classeTxtAreaDadosSubCampo{
	border-style: solid;      /* sem borda*/
	border:0px;
	width: 100%;        /* tem que ficar aqui e também pelo id para funcionar */
	margin: 0;
	padding: 0;
	overflow-y: hidden;  		/* era para ter o scroll apenas va horizontal.  auto, scroll, hidden and visible.  */
	overflow-x: visible; 
}


#inputTxtAreaDadosSubCampo{ /* Pelo id porque só pela classe não estava funcionando*/
	width: 450px;
}

/* A descricao da etiqueta tem que comecar um pouco mais a diretira para ficar 
alinha com a tabela anterior*/
.outTxtDescricaoEtiqueta{
	padding-left: 4px;
	width: 35%;
}

/* esseas tres sao caracteristicas que os campos de controle tem que ter */
.descicaoEtiquetaControle{
	width: 30%;
}

.tagEtiquetaControle{
	width: 4%;
	padding-left: 10px;
}

.dadosControle{
	width: 54%;
	padding-left: 55px;  /*um pouco afastado para suportar os idicados e codigo de sub campo que nao tem*/
}

.colunaIcones{  /* colunos para os icones de controle*/
	width: 2%;
}

.textAlinhadoEsquerda{
	text-align: left;
}

.textCentralizado{
	text-align: center;
}


.iconeRemoveSubCampoModelPanel{
	text-align: center;
	width: 15%;
}


 /* Estido para o div que simula um p:panel do prime faces */
.divPainelPrimeFaces{
	background: url("../../img/primefaces_imagens/ui-bg_inset-hard_100_fcfdfd_1x100.png") repeat-x scroll 50% bottom #FCFDFD;
    border: 1px solid #A6C9E2;
    color: #222222;
    border-radius: 5px 5px 5px 5px;
    padding: 0.2em;
}

.divCabecalhoPainelPrimeFaces{
	text-align: center;
	background: url("../../img/primefaces_imagens/ui-bg_glass_70_abc7ec_1x400.png") repeat-x scroll 50% 50% #ABC7EC;
    border: 1px solid #99BBE8;
    color: #003390;
    font-weight: bold;
    padding: 0.7em 1em 0.3em;
    border-radius: 5px 5px 5px 5px;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 1.1em;
}


.estiloCaptionSubFormulario{
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EDF1F8;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #333366;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 1px 0;
    padding: 3px 0 3px 20px;
    text-align: left;
}

/* Sobre escreve o estudo das colunas eliminando as bordas */
.rich-subtable-cell {
  	border-bottom: 0px solid #C0C0C0;
    border-right: 0px solid #C0C0C0;
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    padding: 4px;
    vertical-align: top;
}





