* { margin: 0; padding: 0; }
body { font-size: 0.7em; font-family: Verdana, sans-serif; }
a { font-weight: bold; text-decoration: none; }
h2 { font-size: 1.2em; color: #003395; font-variant: small-caps; margin: 0 0 15px; border-bottom: 1px solid #C4D2EB; padding: 4px 0 2px 22px; background-color: #EFF3FA; }
input, textarea, select { border: 1px solid #AAA; font-size: 1em; font-family: verdana, sans-serif; }

a:link { color: #003395; font-weight: bold; font-size: inherit; text-decoration: none; }
a:visited { color: #003390; text-decoration: none; font-weight: bold; }
a:active { color: #444444; text-decoration: none; font-weight: bold; }
a:hover { color: #333; font-weight: bold; text-decoration: none; }

#info-sistema { background-color: #404E82; border-bottom: 3px solid #E1B26E; color: #FFF; padding: 2px 4px 0 4px; }
#info-sistema h1 { font-size: 1.2em; font-weight: bold; display: inline; }
#info-sistema h1 span { font-size: 1.1em; margin-right: 10px; font-family: arial; letter-spacing: 0.1em; }
#info-sistema h3 { font-size: 1.1em; font-weight: normal; display: inline; }
#info-sistema span.sair-sistema { position: absolute; right: 3px; top: 4px; font-size: 1.1em; }
#info-sistema a { color: #FEF9DC;  }

#painel-usuario { background-color: #C4D2EB; color: #222; height: 52px; }
#painel-usuario #menu-usuario { float: right; padding: 4px 0; width: 360px; }
#painel-usuario #menu-usuario ul { list-style: none; }
#painel-usuario #menu-usuario li { float: left; margin: 2px; width: 32%; }
#painel-usuario #menu-usuario a { padding: 3px 0 3px 25px; display: block; background: #E6ECF7; font-size: 0.84em; _height: 1px; color: #444; }

#painel-usuario #menu-usuario li.modulos a { background-image: url('../img/modulos.gif'); background-position: 5px 2px; background-repeat: no-repeat; }
#painel-usuario #menu-usuario li.caixa-postal a { background-image: url('../img/mailbox_small.gif'); background-position: 4px 50%; background-repeat: no-repeat; }
#painel-usuario #menu-usuario li.chamado a { background-image: url('../img/chamado.gif'); background-position: 5px 2px; background-repeat: no-repeat; }
#painel-usuario #menu-usuario li.menus a { background-image: url('../img/menu_unidade.gif'); background-position: 5px 2px; background-repeat: no-repeat; }
#painel-usuario #menu-usuario li.dados-pessoais a { background-image: url('../img/pessoal.gif'); background-position: 5px 2px; background-repeat: no-repeat; }
#painel-usuario #menu-usuario li.ajuda a { background-image: url('../img/small_ajuda.gif'); background-position: 5px 2px; background-repeat: no-repeat; }
#painel-usuario #menu-usuario li.admin a{ background-image: url('../../img/menu/usuario/admin.gif'); background-repeat: no-repeat; background-position: 5px 2px; }

#painel-usuario #info-usuario { margin: 0 290px 0 5px; width: 400px; padding: 4px; font-size: 0.9em; position: absolute; }
#painel-usuario #info-usuario p.usuario { font-weight: bold; margin: 0; padding: 4px 0 1px; }
#painel-usuario #info-usuario p.unidade { margin: 0; padding-top: 5px; }
#painel-usuario #info-usuario p.periodo-atual { margin: 0; padding: 4px 0 1px; position: absolute; top: 0.5em; right: 0; }

#trocar-turma { float: right; padding-top: 2px; padding-right: 3px; }
#trocar-turma select { width: 250px; }

#rodape { border-top: 3px solid #E1B26E; background-color: #404E82; font-size: 0.9em; }
#rodape p { clear: both; color: #FFF; padding: 4px 4px; text-align: center; }

#menu ul.menu-ava li {font-weight: bold; font-variant: small-caps; font-size: 1.1em;}

/*
#menu ul.menu-ava li { line-height: 30px; text-align: left;  }
#menu ul.menu-ava li a { background-color: #FEFEFE; display: block; padding: 20px; color: #333; font-weight: normal; background: transparent url('../img/menu_group_li.gif') no-repeat left; background-position: 0px 12px; }
#menu ul.menu-ava li a:hover { font-weight: bold; background-color: #DEDEDE; }
*/

.turma { background-image: url(../img/group.png); }
.alunos { background-image: url(../img/vcard.png); }
.impressos { background-image: url(../img/printer.png); }
.material { background-image: url(../img/book_open.png); }
.atividades { background-image: url(../img/report_edit.png); }
.config { background-image: url(../img/folder_wrench.png); }
.ajuda { background-image: url(../img/help.png); }

/* CSS para Listagens e Formul�rios de Cadastro */
.odd { background-color: #FFF; }
.even { background-color: #EFF3FA; }

p.create-new { text-align: center; margin: 2px; font-variant: small-caps; font-size: 1.1em; font-weight: bold; }
p.create-new a { color: #444 }
p.empty-listing { text-align: center; margin: 30px; color: red; font-weight: bold;}

fieldset { border: 0; border-top: 2px solid #15428B; margin: 10px auto; width: 97%; }
fieldset legend { color: #15428B; font-size: 1.5em; font-variant: small-caps; font-weight: bold; padding: 3px 7px; margin: 1px 0; }

fieldset ul.form { list-style: none; margin: 0; padding: 5px 10px;}
fieldset ul.form li { padding: 5px 0; clear: both; }
fieldset ul.form li label { display: block; float: left; width: 117px; text-align: right; padding: 0; margin-right: 2px;}
fieldset ul.form li label.required { font-weight: bold; padding: 0; }

span.required { background: url(../img/required.gif) no-repeat 0px 2px; margin-left: 4px; padding-left: 0.9em;}
div.botoes { border-top: 2px solid #CDCDCD; padding-top: 2px; margin-top: 10px; }
div.botoes div.form-actions { float: left; padding-top: 2px; width: 150px; }
div.botoes div.other-actions { float: right; width: 150px; text-align: right; padding-top: 5px;}
div.botoes div.required-items { margin-left: 150px; margin-right: 150px; padding-top: 5px; text-align: center; }

table.listing { border: 1px solid #666666; margin: 10px auto; margin-top: 0; width: 95%; border-collapse: collapse; }
table.listing thead tr th { font-size: 1em; background-color: #DCDCDC; font-weight: bold; text-align: center; padding: 2px; }
table.listing tbody tr td { font-size: 1em; padding: 3px 8px; border-left: 1px solid #D9D9D9; }
table.listing tbody tr td.first { border-left: 0; }
table.listing tbody tr td.dummy { }
table.listing tbody tr td.width45 { text-align: center; width: 45px; }
table.listing tbody tr td.width75 { text-align: center; width: 75px; }
table.listing tbody tr td.width90 { text-align: center; width: 90px; }
table.listing tbody tr td.width120 { text-align: center; width: 120px; }
table.listing tbody tr td.width150 { text-align: center; width: 150px; }
table.listing tbody tr td.width200 { text-align: center; width: 200px; }
table.listing tbody tr td.icon { text-align: center; width: 15px; }

table.participantes { border-collapse: collapse; width: 99%; margin: 0 auto; border: 1px solid #DEDFE3; background-color: #F9FBFD; }
table.participantes tr td { font-size: 0.9em; padding: 5px; }

.topico-aula { width: 98%; margin-top: 10px; margin-bottom: 20px; }
.topico-aula h3 { font-size: 9pt; color: #444; border-bottom: 1px solid #C4D2EB; letter-spacing: 1px; padding: 0 0 3px 0; }
.topico-aula h4 { margin: 5px 0; font-size: 8pt; font-weight: normal; font-style: italic; }
.topico-aula p.descricao-aula { padding: 5px 0 5px 5px; line-height: 1.4em; }
.topico-aula ul.materiais { margin: 5px 0 10px 15px; padding: 0; list-style: none; }
.topico-aula ul.materiais li{ padding: 2px 0; }
.topico-acoes { float: right; margin-top: 2px; }

span.descricao-campo { display: block; font-weight: normal; font-size: 0.9em; color: #444; padding-left: 118px; }

#painel-erros {
	background: #F9FBFD;
	padding: 3px 28px;
	border-bottom: 1px solid #C8D5EC;
}

#painel-erros ul{
	margin: 0;
	padding: 0;
	padding: 10px 0 10px 55px;
}

#painel-erros li{
	font-weight: bold;
}

#painel-erros ul.info {background: url(/shared/img/mensagens/info.gif) no-repeat left center;}
#painel-erros ul.warning {background: url(/shared/img/mensagens/warning.gif) no-repeat left center;}
#painel-erros ul.erros {background: url(/shared/img/mensagens/error.gif) no-repeat left center;}

#painel-erros ul.info li {color: #0CA700;}
#painel-erros ul.warning li {color: #333;}
#painel-erros ul.erros li {color: #F11;}

div.descricaoOperacao {
	margin: 10px 18px;
	padding: 10px 20px;
	border: 1px solid #F9FBFD;
	background: #FFFFD5;
	line-height: 1.2em;
}

div.descricaoOperacao p {
	text-indent: 3em;
	margin: 3px 0;
}

table.configuracoes { width: 490px; margin: 0 auto; border-collapse: collapse; }
table.configuracoes td { padding: 2px; }

ul.import li { padding-left: 40px; }

div.campo { display: inline; line-height: 14pt }
div.botoes-show { border-top: 2px solid #CDCDCD; padding-top: 10px; margin-top: 10px; text-align:center; font-weight:normal; font-size:1em; }
ul.show label { font-weight: bold; }

.item-menu-direita { margin: 8px auto; width: 210px; }

.noborder, .noborder input[type="radio"] { border: none; }

.infoAltRem {
  margin: 5px auto;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #DEDEDE;
  border-width: 1px 0;
  width: 70%;
  padding: 2px 0;
  background: #F5F5F5;
}
.infoAltRem h4{
	font-variant: small-caps;
	border-bottom: 1px solid #DEDEDE;
	background: #DEDEDE;
	margin-top: -2px;
}
.infoAltRem img {
  top: 2px;
  position: relative;
  margin-left: 1.2em;
}

.pergunta-enquete { font-weight: bold; padding: 5px; width: 95%; }
ul.enquete { padding: 5px; width: 95%; }
ul.enquete li { padding: 1px 0; } 
div.botoes-enquete { text-align: center; padding: 5px 0; width: 95%; }
span.data { font-size: 0.9em; color: #555; }
span.descricao { font-size: 0.9em; }
ul.menu-direita { margin: 3px 5px; }
ul.menu-direita li { padding: 1px 0; }