body { background: url(../img/bg_pagina_1024.jpg) repeat-y center; }
#rodape { margin-top: 3px; }

#ajuda { width: 95%; margin: 0 auto; background: #EFF3FA; padding: 10px; text-align: center; }
#ajuda h1 { margin: 0 auto; font-weight: bold; color: #F00; width: 75%; font-size: 1em; }
#ajuda h2 { margin: 0 auto; width: 75%; border: 0; font-size: 1em; font-variant: normal; color: #000; font-weight: normal; text-align: center;}

#senha { margin: 20px auto; text-align: center; }

#logon { margin: 20px auto; width:50%; }

#logon h3 {
	color: #336;
	padding: 1px 5px;
	background: #C8D5EC url(../img/menu/div_left.gif) right no-repeat;
	border-left: 1px solid #C8D5EC;
	font-size: 1.2em;
	width: 50%;
	text-align: center;
}

#logon table { width: 100%; background: #FAFAFA; border: 1px solid #C8D5EC; border-width: 3px 1px; }
#logon table tr td { padding: 3px; }

table.listagem thead th { text-align: center; }