h3 {
	font-variant: small-caps;
	text-align: center;
	border-bottom: 1px solid #BBB;
	margin-bottom: 1px;
}

h4 {
	font-variant: small-caps;
}

table {
	margin: 3px 0;
}

table thead {
	background: #FFF;
}

#matriculas {
	width: 100%;
	font-size: 0.9em;
}

#matriculas td, #matriculas th {
	border: 1px solid #BBB;
}

#matriculas td {
	padding: 2px;
}
#matriculas span {
	display: block;
}
#matriculas span.componente {
	font-weight: bold;
}
#matriculas span.nivelComponente {
	display: inline;
	font-size: 0.8em;
	font-weight: normal;
	color: #666;
	padding-left: 6px;
}
#matriculas span.docente, #matriculas span.local  {
	font-size: 0.8em;
}

#matriculas .codigo, #matriculas .turma, #matriculas .status, #matriculas .horario {
	vertical-align: top;
	text-align: center;
	font-size: 0.85em;
	padding: 3px 3px;
}

#matriculas .status {
	font-size: 1em;
}

#identificacao {
	width: 100%;
}

#identificacao td{
	padding: 1px;
}


#horario {
	width: 100%;
}

#horario td{
	font-size: 0.8em;
	border: 1px solid #BBB;
}

#autenticacao {
	width: 97%;
	margin: 10px auto 2px;
	text-align: center;
}

#autenticacao h4 {
	border-bottom: 1px solid #BBB;
	margin-bottom: 3px;
	padding-bottom: 2px;
}

#autenticacao span {
	color: #922;
	font-weight: bold;
}