#opcoes-consultor { position: relative; margin: 10px auto; width: 80%; height: auto;}
#opcoes-consultor h3 { margin: 15px auto 5px; border-bottom: 1px solid #C4D2EB; font-variant: small-caps;
	color: #339; text-align: center; clear: both;}

#opcoes-consultor .item { float: right; width: 48%; height: 47px; background: url(../../img/stricto/matricula/opcao_on.png) no-repeat top center; margin: 5px 0;}
#opcoes-consultor .off { background: url(../../img/stricto/matricula/opcao_off.png) no-repeat top center; }

#opcoes-consultor .historico { float: left; } 

#opcoes-consultor .item a { display: block; padding: 8px 10px 8px 60px;  
	margin: 2px 5px; text-align: left; font-size: 1.1em; 
	font-variant: small-caps; line-height: 1.5em; position: relative;}

#opcoes-consultor .item a span { font-size: 0.8em; font-variant: normal; color: #666; display: block;}
#opcoes-consultor .item a:hover { color: #292; }
#opcoes-consultor .projetosnavaliados a { background: url(../../img/pesquisa/portal_consultor/projetos_n_avaliados.png) no-repeat 2px center; }
#opcoes-consultor .planos a { background: url(../../img/pesquisa/portal_consultor/plano_trabalho.png) no-repeat 2px center; }
#opcoes-consultor .relatorios a { background: url(../../img/pesquisa/portal_consultor/relatorios.png) no-repeat 2px center; }
#opcoes-consultor .relatorioic a { background: url(../../img/pesquisa/portal_consultor/relatorio_ic.png) no-repeat 2px center; }
#opcoes-consultor .projetoavaliados a { background: url(../../img/pesquisa/portal_consultor/projetos_avaliados.png) no-repeat 2px center; }
#opcoes-consultor .comprovante a { background: url(../../img/stricto/matricula/comprovante.png) no-repeat 2px center;  padding-top: 12px;}
#opcoes-consultor .parecerespecial a { background: url(../../img/pesquisa/portal_consultor/parecer.png) no-repeat 2px center;  padding-top: 12px;}

#opcoes-consultor .off a:hover { color: inherit; }

table.menuMatricula { margin: 5px auto; }
span.periodo { color: #292; font-weight: bold; }

table.listagem tbody { background: transparent; }