#opcoes-matricula { position: relative; margin: 10px auto; width: 80%; height: auto;}
#opcoes-matricula h3 { margin: 15px auto 5px; border-bottom: 1px solid #C4D2EB; font-variant: small-caps;
	color: #339; text-align: center; clear: both;}

#opcoes-matricula .item { float: right; width: 48%; height: 47px; background: url(../../img/stricto/matricula/opcao_on.png) no-repeat top center; margin: 5px 0;}
#opcoes-matricula .off { background: url(../../img/stricto/matricula/opcao_off.png) no-repeat top center; }

#opcoes-matricula #opcoes-matricula  { float: left; }
#opcoes-matricula .historico .disciplinas .atividades .outrosProgramas { float: left; } 

#opcoes-matricula .item a { display: block; padding: 8px 10px 8px 60px;  
	margin: 2px 5px; text-align: left; font-size: 1.1em; 
	font-variant: small-caps; line-height: 1.5em; position: relative;}

#opcoes-matricula .item a span { font-size: 0.8em; font-variant: normal; color: #666; display: block;}
#opcoes-matricula .item a:hover { color: #292; }
#opcoes-matricula .disciplinas a { background: url(../../img/stricto/matricula/disciplinas.png) no-repeat 2px center;  }
#opcoes-matricula .atividades a { background: url(../../img/stricto/matricula/atividades.png) no-repeat 2px center;   }
#opcoes-matricula .outrosProgramas a { background: url(../../img/stricto/matricula/outras_turmas.gif) no-repeat 2px center;   }
#opcoes-matricula .proficiencia a { background: url(../../img/stricto/matricula/proficiencia.png) no-repeat 2px center; }
#opcoes-matricula .qualificacao a { background: url(../../img/stricto/matricula/qualificacao.png) no-repeat 2px center; }
#opcoes-matricula .defesa a { background: url(../../img/stricto/matricula/defesa.png) no-repeat 2px center; }
#opcoes-matricula .historico a { background: url(../../img/stricto/matricula/historico.png) no-repeat 2px center;  padding-top: 12px;}
#opcoes-matricula .comprovante a { background: url(../../img/stricto/matricula/comprovante.png) no-repeat 2px center;  padding-top: 12px;}

#opcoes-matricula .off a:hover { color: inherit; }

table.menuMatricula { margin: 5px auto; }
span.periodo { color: #292; font-weight: bold; }

.situacaoMatricula { font-size: 0.9em; color: #777; }

table.listagem tbody { background: transparent; }