* { margin: 0; padding: 0; }
html.background { background-image: none;} 
#container, #cabecalho { width: 100%; }

table.listagem, div.infoAltRem { width: 95%; margin: 0 auto;}
table.listagem tbody tr td.icon { text-align: center; width: 15px; }
table.listagem tbody tr td.first { border-left: 0; }
table.listagem tbody tr td.dummy { }
table.listagem tbody tr td.width45 { text-align: center; width: 45px; }
table.listagem tbody tr td.width75 { text-align: center; width: 75px; }
table.listagem tbody tr td.width90 { text-align: center; width: 90px; }
table.listagem tbody tr td.width120 { text-align: center; width: 120px; }
table.listagem tbody tr td.width150 { text-align: center; width: 150px; }
table.listagem tbody tr td.width200 { text-align: center; width: 200px; }
table.listagem tbody tr td.icon { text-align: center; width: 15px; }

.texto { width: 90% }
p.vazio { text-align: center; color: #A55; font-weight: bold; margin: 5px 0; }

/*
 * DEFINI합ES DE LAYOUT
 */
#wrapper {
	margin: -15px auto 0;
	line-height: 1.3em;
	position: relative;
	padding:10px;
	background:#EFF3FA;
}
	
.legenda {
	margin: 0 auto;
	margin-bottom: 5px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #DEDEDE;
	border-width: 1px 0;
	width: 100%;
	padding: 2px 0;
	background: #DEDEDE;
}
		
#fotos {
	position: relative;
}

div.foto {
	background: #FFF;
	border: 4px solid #EFF3FA;	
	float: left;
	height: 120px;
	width: 92px;
	overflow: hidden;
}

div.foto .nomeParticipante {
	font-style: italic;
	font-size: 0.85em;
	padding: 4px 0;
	line-height: 1em;
	text-align: center;
	
}

div.foto img {
	margin: 2px auto;
	display: block;
}

div.todosParticipantes {
	text-align: center;
	clear: both;
	font-size: 0.8em;	
}

.boxoutCentralEnquete {
	float: left;
	margin: 0 0 2px 205px;
	/*background: #C4E0F0;*/
	padding: 0 10px;
}



#rodape { clear: both; }

.clear {
	clear: left;
	height: 1px;
	margin:0; padding: 0;
}

/**  MENU DE OP합ES  **/
#menuComunidade {
}

	#menuComunidade table.dr-toolbar-ext {
		background:#EFEBDE none repeat scroll 0 0;
		padding-left: 20px;
		border: 0;
	}

	#menuComunidade a {
		font-weight: normal;
		color: #333;
		padding-left: 10px;
	}
	
	#menuComunidade td {
		padding: 0 0 0 3px;
	}

	#menuComunidade a {
		display: block;
		padding: 3px 10px 3px 28px;
		background-position: 2px 2px;
		background-repeat:  no-repeat;		
		line-height: 1.5em;	
	}
	
	#menuComunidade a:hover {
		background-color: #C6D3EF;
	}
	
	#menuComunidade a.principal { background-image: url(/sigaa/img/home.gif); }
	#menuComunidade a.topicos { background-image: url(/sigaa//img/report.png); }
	#menuComunidade a.conteudo { background-image: url(/sigaa//img/livro.png); }
	#menuComunidade a.referencias { background-image: url(/sigaa//img/outros.png); }
	#menuComunidade a.participantes { background-image: url(/sigaa/img/portal_turma/group.png); }
	#menuComunidade a.forum { background-image: url(/sigaa/img/portal_turma/atividades_menu.gif); }
	#menuComunidade a.chat { background-image: url(/sigaa/img/comments.png); }
	#menuComunidade a.noticias { background-image: url(/sigaa/img/portal_turma/noticias.gif); }
	#menuComunidade a.arquivos { background-image: url(/sigaa/img/file.png); }
	#menuComunidade a.enquetes { background-image: url(/sigaa/img/check.png); }
	#menuComunidade a.configuracoes { background-image: url(/sigaa/img/graduacao/matriculas/escolha_restricoes.png); }
	#menuComunidade a.sairComunidade { background-image: url(/sigaa/img/monitoria/businessman_delete.png); }
	
/*
 * QUADRO COM INFORMA합ES DA COMUNIDADE
 */
 
p.enquetePergunta{
	text-transform: capitalize;
	padding: 0px;
}
p.enquetePergunta img.enqueteVotar{
	padding: 8px 0px 0px;
}
 
#painelInfoComunidade {
	background: #EFF3FA;
	float: left;
	font-size: 0.9em;
	width: 200px;
	min-height:430px;
	height:auto !important;
	height:430px;

}

#painelEnqueteComunidade {
	background: #EFF3FA;
	float: right;
	font-size: 0.9em;
	width: 200px;
}

	#painelInfoComunidade p {
		padding: 5px 10px;
		text-align: left;
		margin: 0 0 0 10px;
	}
		#painelInfoComunidade p.descricaoComunidade {
			padding: 5px 10px;
			margin: 0;
		}

	#painelInfoComunidade h3, #painelInfoComunidade h4 {
		font-weight: bold;
		line-height: 1.5em;
	}
	
	#painelInfoComunidade h3 { 
		font-size: 1em;
		background: #C4D2EB;
		text-align: center;
		font-variant: small-caps;
		letter-spacing: 1px;
		padding: 2px;
	}
		#painelInfoComunidade h3.nomeComunidade { 
			font-size: 1.2em;
			padding: 3px;
		}
	
	#painelInfoComunidade h4 {
		font-size: 1em;
		text-align: left;
		border-bottom: 1px solid #CCC;
		margin: 5px 8px 0;
		color: #444;
	}

	#painelInfoComunidade .mais {
		display: block;
		margin-bottom: 10px;
		clear: both;
		text-align: center;
	}

/**  SE합ES INTERNAS DA COMUNIDADE **/

.secaoComunidade {
	font-size: 1em;
	margin: 0px 5px 0px 203px;
	padding:0px;
	position:relative;
	width: auto;
}
	.secaoComunidade div.rich-panel{
		width: auto;
		position:relative;
	}
	.secaoComunidade div.rich-panel-body{
 		min-height:490px;
		height:auto !important;
		height:490px;
 	}
	.secaoComunidade div.rich-panel-header{
		text-transform: uppercase;
	}

.secaoComunidade h3 {
	border-bottom: 1px solid #DDD;
	margin: 5px 20px 1px 0;
	font-weight: normal;
}
	.secaoComunidade p { margin-bottom: 0.8em; } 

#topicos div.colComunidadeForum{
	position:relative;
	margin-left:205px;
	margin-right:180px;
}

	
#topicos div.colNoticiaEnquete{
	position:relative;
	float:right;
	width:175px;
}

	#topicos div.colNoticiaEnquete div.noticia{
		min-height:100px;
		height:auto !important;
		height:100px;
		position:relative;
	}
	#topicos div.colNoticiaEnquete div.enquete{
		min-height:180px;
		height:auto !important;
		height:180px;
		position:relative;
	} 
	#topicos h3 { border-bottom: 1px solid #C4D2EB; font-weight: bold; color: #444; padding: 2px;}
	#topicos h4 { font-weight: normal; font-size: 0.95em; font-style: italic; margin-left: 2px;}
	#topicos .conteudoTopico { margin: 5px 10px; } 
	#topicos ul.materiais { margin: 5px 0 10px 25px; padding: 0; list-style: none; }
	#topicos ul.materiais li{ padding: 2px 0; }
 
#participantes { border-collapse: collapse; width: 95%; margin: 0 auto; border-color: #C4D2EB; border-width: 1px 0; border-style: solid; }
#participantes tr td { font-size: 0.9em; padding: 5px; background-color: #EFF3FA;  }
#participantes tr.linhaPar td { background-color: #FFF;  }
 
 
 /**  SE합ES INTERNAS - CONFIGURA합ES **/
.secaoConfig{
	font-size: 1em;
	margin: 0px 5px 0px 0px;
	padding:0px;
	position:relative;
	width: auto;
}
	.secaoConfig div.rich-panel-header{
		text-transform: uppercase;
	}


	.secaoConfig div.colEsqConf{
		position:relative;
		margin-left:205px;
		margin-right:203px;
		width:auto;
		min-height:490px;
		height:auto !important;
		height:490px;
	}
	.secaoConfig div.colEsqConf div.rich-panel{
		margin: 0px 0px 3px;
	} 
	
	.secaoConfig div.colDirConf{
		position:relative;
		float:right;
		width:200px;
	} 
	.secaoConfig div.colDirConf div.rich-panel{
		margin: 0px 0px 3px;
		min-height:168px;
		height:auto !important;
		height:168px;
	}
 
.dr-pnl, .rich-panel{
	margin:0px !important;
	margin-top:10px !important;
}

.colNoticiaEnquete div {
	margin-top:0px !important;
	margin-bottom:10px !important;
}

.colComunidadeForum {
	margin-left:215px !important;
	margin-right:190px !important;
}

.secaoComunidade {
	margin-left:215px !important;
	margin-right:0px !important;
}

.headerBloco{
	color:#15428B;
	background:url('/sigaa/ava/img/painel_bg.png');
	height:18px;
	text-align:left;
	font-weight:bold;
	font-size:8pt;
	padding:0px;
	padding-top:3px;
	padding-left:10px;
	border-bottom:1px solid #99BBE8;
}

.colDirConf div {
	margin-top:0px !important;
}

.colEsqConf {
	margin-left:215px !important;
	margin-right:215px !important;
}

#infoComunidade {
	margin-top:10px;
}
 	