.msgErro {	color: red; padding-right: .25em; align:center; }
	
	.nav-glyphish .ui-btn .ui-btn-inner { padding-top: 30px !important; }	
	.nav-glyphish .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }		
	
	.nav-glyphish .bHome .ui-icon { background:	url(../img/53-house.png) 50% 40% no-repeat; background-size: 24px 22px;}
	.nav-glyphish .bListarAulas .ui-icon { background:	url(../img/06-magnify.png) 50% 40% no-repeat; background-size: 24px 22px;}
	.nav-glyphish .bListarTurmas .ui-icon { background:	url(../img/06-magnify.png) 50% 40% no-repeat; background-size: 24px 22px;}
	.nav-glyphish .bNoticias .ui-icon { background:	url(../img/08-chat.png) 50% 40% no-repeat; background-size: 24px 22px;}
	.nav-glyphish .bFrequencia .ui-icon { background:	url(../img/83-calendar.png) 50% 40% no-repeat; background-size: 24px 22px;}
	.nav-glyphish .bSair .ui-icon { background:	url(../img/63-runner.png) 50% 40% no-repeat; background-size: 24px 22px;}
	.nav-glyphish .bNovaNoticia .ui-icon { background:	url(../img/09-chat-2.png) 50% 40% no-repeat; background-size: 24px 22px;}
	
	.nav-glyphish .index-icon { background:	url(../img/104-index-cards.png) 50% 40% no-repeat; background-size: 24px 22px; }
	.obrigatorio{ background: url(/sigaa/img/required.gif) no-repeat right; padding-right: 13px;}  
	div.obrigatorio{ background: url(/sigaa/img/required.gif) no-repeat left;font-size: 0.9em;padding-left: 13px;white-space: normal; }
	.ui-icon-sair { background: url("/sigaa/mobile/touch/img/sair.PNG") no-repeat; background-size: 18px 18px;}