ul.sislinks * {
	padding: 0;
	margin: 0;
	/*background: #efefef;*/
}

ul.sislinks {
	margin: 0;
	padding: 0;
	float: left;
	background: none;
}

ul.sislinks li {
	height: 130px;
	width: 145px;
	display: block;
	float: left;
	border-left: 1px solid #9bd;
	margin: 0;
	padding: 0;
}

ul.sislinks a {
	display: block;
	height: 130px;
	width: 145px;
}

ul.sislinks h3 {
	padding-top: 170px;
	font-size: 11px;
	color: #404e82;
	text-align: center;
}

ul.sislinks a:hover h3 {
	color: #707eb2;
}

ul.sislinks h4 {
	font-size: 11px;
	color: #0183ce;
	text-align: center;
}

ul.sislinks a:hover h4 {
	color: #31b3fe;
}
