#opcoes-bolsista { position: relative; margin: 10px auto; width: 90%; height: auto;}
#opcoes-bolsista h3 { margin: 15px auto 5px; border-bottom: 1px solid #C4D2EB; font-variant: small-caps;
	color: #339; text-align: center; clear: both;}

#opcoes-bolsista .item { float: left; width: 32%; height: 47px; background: url(../../img/stricto/matricula/opcao_on.png) no-repeat top center; margin: 5px 5px 5px 5px;}
#opcoes-bolsista .off { background: url(../../img/stricto/matricula/opcao_off.png) no-repeat top center; }

#opcoes-bolsista .item a { display: block; padding: 8px 10px 8px 60px;  
	margin: 2px 5px; text-align: left; font-size: 1.1em; 
	font-variant: small-caps; line-height: 1.5em; position: relative;}

#opcoes-bolsista .historicos a { background: url(../../img/report.png) no-repeat 2px center; margin-top: 8px; background-size: 16px 16px;}
#opcoes-bolsista .atestado a { background: url(../../img/view2.gif) no-repeat 2px center; margin-top: 8px; background-size: 16px 16px;}
#opcoes-bolsista .notas a { background: url(../../img/celular_icone.gif) no-repeat 2px center; margin-top: 8px; background-size: 16px 16px;}
#opcoes-bolsista .bolsas a { background: url(../../img/icones/menu_sipac/bolsas.gif) no-repeat 2px center; margin-top: 8px; background-size: 16px 16px;}
#opcoes-bolsista .msg a { background: url(../../img/email_go.png) no-repeat 2px center; margin-top: 8px; background-size: 16px 16px;}

table.menuMatricula { margin: 5px auto; }
span.periodo { color: #292; font-weight: bold; }

table.listagem tbody { background: transparent; }