table.listagem tr.destaque td{
	background: #C8D5EC;
	font-weight: bold;
	padding-left: 20px;
}

 
 
 #btnView a { background-image: url(/sigaa/img/consulta_turma/visualizar.gif); }
 
 #btnAdicionarReservas a { background-image: url(/sigaa/img/consulta_turma/adicionar-reserva.gif); }
 
 #btnNoticia a {background-image: url(/sigaa/img/consulta_turma/cadastrar-noticia.png);}
  
 #btnIniciarAdicionarReservaSemSolicitacao a { background-image: url(/sigaa/img/consulta_turma/adicionar-reserva.gif); }
 
 #Alterar a { background-image: url(/sigaa/img/consulta_turma/alterar-turma.gif); }
 
 #btnConsolidar a { background-image: url(/sigaa/img/graduacao/coordenador/consolidar.png); }
 
 #btnfecharTurma a { background-image: url(/sigaa/img/consulta_turma/fechar-turma.gif); }
 
 #btnDiarioTurma a { background-image: url(/sigaa/img/book_blue_view_peq.png); }
 
 #btnGerarDiarioClasse a { background-image: url(/sigaa/img/book_blue_view_peq.png); }
 
 #btnGerarListaFrequencia a { background-image: url(/sigaa/img/comprovante.png); }
 
 #btnSelecionarTurma a { background-image: url(/sigaa/img/user.png); }
 
 #btnListarAlunosImpressao a { background-image: url(/sigaa/graduacao/matriculas/busca_alunos.png); }
 
 #btnVisualizarListaPresenca a { background-image: url(/sigaa/img/user.png); }
 
 #btnNotasDiscente a {  background-image: url(/sigaa/img/consulta_turma/notas-dos-alunos.gif); }
  
 #btnNotasTutoresPorDisciplina a { background-image: url(/sigaa/img/comprovante.png); }
 
 #btnListarAlunosImpressao a { background-image: url(/sigaa/img/graduacao/matriculas/busca_alunos.png); }
 
 #btnReabrir a { background-image: url(/sigaa/img/arrow_undo.png);}
 
 #btnRemover a { background-image: url(/sigaa/img/consulta_turma/remover.gif); }
 
 #btnResultadoProcessamentoMatricula a { background-image: url(/sigaa/img/consulta_turma/processamento-da-matricula.gif);  }
 #btnResultadoProcessamentoRematricula a { background-image: url(/sigaa/img/consulta_turma/processamento-da-rematricula.gif);  }
 
 #btnTurmaVirtual a { background-image: url(/sigaa/img/menu-turma-virtual/turma.gif); }
 
 #btnPlanilhaDeNotas a { background-image: url(/sigaa/img/table_go.png); }
 
 #enviarMensagem a { background-image: url(/sigaa/img/consulta_turma/enviar.png ); }
 
 #btnAlterarStatusMatricula a { background-image: url(/sigaa/ava/img/corrigir.png ); }
 
 #btnEnviarEmail a { background-image: url(/sigaa/img/consulta_turma/enviar.png ); }
 
 #btnVerAgenda a { background-image: url(/sigaa/img/view_calendario.png ); }
 
 #btnAjustarTurma a { background-image: url(/sigaa/img/consulta_turma/alterar-turma.gif); }
 
 #colDocente,#colHorario { max-width: 30% }
 
 #duplicarTurma a { background-image: url(/sigaa/img/consulta_turma/copia.png); }