div.detalhes-discente {
	width: 100%;
}

p.login { font-style: italic; font-size: 0.9em; padding: 4px 2px 2px;}

div.detalhes-discente table { width: 95%; margin: 5px auto; }
table.dados-discente th {font-weight: bold; text-align: left;}

table.dados-integralizacoes th, table.dados-integralizacoes td { border: 1px solid #AAA; padding: 2px; }
table.dados-integralizacoes td { text-align: right; }
table.dados-integralizacoes th { text-align:center; background: #DDD; font-weight: bold; }
table.dados-integralizacoes th.cab { text-align:right; background: #DDD; font-weight: bold; }
table.dados-integralizacoes th.row { text-align: left; background: transparent;}
