.rich-table, .rich-table-header,.rich-table-headercell, .rich-table-cell,
  .rich-subtable-cell, .rich-table-footercell, .rich-subtable-footercell, 
  .dr-subtable-cell {
	 border:0;
}

span.radio, span.checkbox {
	padding: 5px 2px 5px 32px;
	
}

.pergunta{
	font-weight: bold;
	padding-top: 30px;
	display: block;
}

.descricaoPergunta {
	position:relative;
	display:block;
	padding:10px;
}

span.radio {
	background: url(/sigaa/img/questionario/radio.gif) no-repeat;
	background-position: 10px 1px;	
	line-height: 1.5em;	
}

span.checkbox {
	background: url(/sigaa/img/questionario/checkbox.gif) no-repeat;
	background-position: 10px 1px;		
	line-height: 1.5em;	
}

span.marcado {
	background-position: 10px -49px;
}

.questionarioInativo {
	text-align: center;
	font-size: 1.2em;
	margin: 15px;
	font-variant: small-caps;
	color: #E22;
	font-weight: bold;
	padding: 5px;
	background: #EEE;
}