#menu-turma {
	width: 195px;
	float: left;
}

/* MENU TURMA */
#menu_turma {
	margin-left:0;
	font-family:verdana,arial,freesans,helvetica;
	width: 100%;
	float: left;
	height: 100%;
}

#menu_turma * {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu_turma li.menu_group{
	margin: 0;
	padding: 0;
	font-size: 11px;
}

#menu_turma li.menu_group a{
	color: #404e82;
	text-decoration: none;
	font-weight: normal;
}

#menu_turma li.menu_group a:hover {
	color: #707eb2;
	text-decoration: underline;
}

#menu_turma li.menu_group h5{
	font-size: 11px;
	text-transform: uppercase;
	background-color: #404e82;
	background-repeat: no-repeat;
	background-position: left center;
	color: white;
	height: 16px;
	line-height: 16px;
	padding: 0 22px;	
	margin: 0;
}

#menu_turma li.menu_group h6{
	font-size: 11px;
	margin: 0;
	color: #404e82;
	font-weight: normal;
}

#menu_turma li.menu_group li {
	padding-left: 20px;
	background: transparent url('../../img/menu-turma-virtual/menu_group_li.gif') no-repeat left 3px;
}

#menu_turma li.menu_group ul {
	padding-top: 5px;
	padding-bottom: 10px;
	background-color: #EDF1F8;
}

#menu_turma li.menu_group ul ul {
	padding-top: 0;
	padding-bottom: 0;
}

#menu_turma li.alunos h5 {background-image: url('../../img/menu-turma-virtual/alunos.gif');}
#menu_turma li.impressos h5 {background-image: url('../../img/menu-turma-virtual/impressos.gif');}
#menu_turma li.turma h5 {background-image: url('../../img/menu-turma-virtual/turma.gif');}
#menu_turma li.material h5 {background-image: url('../../img/menu-turma-virtual/material.gif');}
#menu_turma li.atividades h5 {background-image: url('../../img/menu-turma-virtual/atividades.gif');}